{% load i18n %}
{% load display_amount %}

<div class="row">
    <div class="col">
        <table class="table table-bordered table-sm table-hover table-striped">
            <thead class="sticky-top thead-light">
                <tr>
                    <th scope="col" colspan="2">{% trans "Categories" %}</th>
                    {% for period in repartition.periods %}
                    <th scope="col">
                        {% if with_date_links and not forloop.last %}
                        <a href="?date={{ period }}">{{ period }}</a>
                        {% else %}
                        {{ period }}
                        {% endif %}
                    </th>
                    {% endfor %}
                </tr>
            </thead>
            <tbody>
                {% for line in repartition.lines %}
                <tr>
                    <td colspan="2">
                        {% include "categories/_list_badges.html" with categories=line.categories %}
                    </td>
                    {% for amount in line.amounts %}
                        <td class="text-right">
                            {% if amount != 0 %}
                                {% display_amount amount %}
                            {% endif %}
                        </td>
                    {% endfor %}
                </tr>
                {% endfor %}
            </tbody>
            <tfoot>
                <tr><td class="border-0"></td></tr> <!-- add an empty row without border, to create a separation between table body and footer -->
                <tr>
                    <th rowspan="3" class="align-middle">Σ</th>
                    <td>Incomes</td>
                    {% for sum in repartition.sums_pos %}
                    <td class="text-right">
                        {% if sum != 0 %}
                            {% display_amount sum %}
                        {% endif %}
                    </td>
                    {% endfor %}
                </tr>
                <tr>
                    <td>Expenses</td>
                    {% for sum in repartition.sums_neg %}
                    <td class="text-right">
                        {% if sum != 0 %}
                            {% display_amount sum %}
                        {% endif %}
                    </td>
                    {% endfor %}
                </tr>
                <tr>
                    <th>Total</th>
                    {% for sum in repartition.sums %}
                    <th class="text-right">
                        {% if sum != 0 %}
                            {% display_amount sum %}
                        {% endif %}
                    </th>
                    {% endfor %}
                </tr>
            </tfoot>
        </table>
    </div>
</div>
