{% extends "base.html" %}

{% load i18n %}
{% load static %}

{% block breadcumb %}
{{ block.super }}
<li class="breadcrumb-item active">{% trans "Statistics" %}</li>
{% endblock %}

{% block content %}
<div class="row">
    <div class="col">
        <h1>{% trans "Statistics" %}</h1>
    </div>
</div>

<hr>

{% include "mixins/_select_month.html" %}

<br>

<div class="row">
    <div class="col">

        <ul class="nav nav-tabs nav-fill" id="category-repartition-evolution-tabs" role="tablist">
            <li class="nav-item" role="presentation">
                <a class="nav-link active" id="month-tab" data-toggle="tab" href="#month" role="tab" aria-controls="month" aria-selected="true">{% trans "By month" %}</a>
            </li>
            <li class="nav-item" role="presentation">
                <a class="nav-link" id="year-tab" data-toggle="tab" href="#year" role="tab" aria-controls="year" aria-selected="false">{% trans "By year" %}</a>
            </li>
        </ul>

        <br>

        <div class="tab-content">
            <div class="tab-pane fade show active" id="month" role="tabpanel" aria-labelledby="month-tab">
                <h2>{% trans "Global evolution" %}</h2>

                {% include "graphs/_balance_evolution.html" with graph_balance_evolution=graph_monthly_balance display_balance_limit=False %}

                <br>

                <h2>{% trans "Categories repartition evolution" %}</h2>

                {% include "stats/_categories_evolution_table.html" with repartition=month_repartition with_date_links=True %}
            </div>

            <div class="tab-pane fade" id="year" role="tabpanel" aria-labelledby="year-tab">
                <h2>{% trans "Global evolution" %}</h2>

                {% include "graphs/_balance_evolution.html" with graph_balance_evolution=graph_yearly_balance display_balance_limit=False %}

                <br>

                <h2>{% trans "Categories repartition evolution" %}</h2>

                {% include "stats/_categories_evolution_table.html" with repartition=year_repartition %}
            </div>
        </div>
    </div>
</div>
{% endblock %}

{% block scripts %}
{{ block.super }}
<script src="{% static "js/graph_balance_evolution.js" %}"></script>
{% endblock %}
