{% load i18n %}
{% for c in categories %}
<a href="{% url 'categories_view' c.id %}" class="badge badge-{% if c.id == 0 %}secondary{% else %}primary{% endif %}">{{ c.title }}</a>
{% empty %}
    <a href="{% url 'categories_view' 0 %}" class="badge badge-secondary">{% trans "Without category" %}</a>
{% endfor %}
