{% extends "base.html" %}

{% load i18n %}
{% load display_amount %}
{% load money_paginator %}

{% block breadcumb %}
{{ block.super }}

<li class="breadcrumb-item"><a href="{% url 'categories_index' %}">{% trans "Categories" %}</a></li>
<li class="breadcrumb-item active">{{ object.title }}</li>
{% endblock %}

{% block content %}

<div class="row justify-content-between align-items-center">
    <div class="col-auto mr-auto">
        <h1>{{ object.title }}</h1>
    </div>
    {% if object.pk != 0 %}
    <div class="col-auto">
        <a class="btn btn-primary btn-sm" href="{% url "operations_search" %}?category={{ object.id }}">
            <i class="fas fa-search"></i> {% trans "Search in this category" %}
        </a>
        <a class="btn btn-warning btn-sm" href="{% url "categories_edit" object.id %}" title="{% trans 'Edit' %}">
            <i class="fa fa-pen"></i>
        </a>
    </div>
    {% endif %}
</div>

<hr>


{% if repartition_errors|length %}
<div class="row">
    <div class="col-sm">
        <div class="alert alert-warning">
                {% for e in repartition_errors %}
                {{ e|safe }}
                {% if not forloop.last %}<br>{% endif %}
                {% endfor %}
        </div>
    </div>
</div>
{% endif %}

<div class="row">
    <div class="col-sm">
        <h2>{% trans "Graph" %}</h2>

        <canvas
            id="graph_monthly_balance"
            data-x="{% for x in graph_monthly_balance %}{{ x.month }}{% if not forloop.last %};{% endif %}{% endfor %}"
            data-y="[{% for y in graph_monthly_balance %}{{ y.balance }}{% if not forloop.last %}, {% endif %}{% endfor %}]"
        ></canvas>
    </div>
</div>

<br>

<div class="row">
    <div class="col-sm">
        <h2>{% trans "Repartition among accounts" %}</h2>

        <div class="row">
            <div class="col-sm-6">
                {% if graph_repartition|length > 0 %}
                <canvas
                    class="graph_pie"
                    data-labels="{% for e in graph_repartition %}{{ e.account__title }}{% if not forloop.last %};{% endif %}{% endfor %}"
                    data-y="[{% for e in graph_repartition %}{{ e.balance|floatformat:2 }}{% if not forloop.last %}, {% endif %}{% endfor %}]"
                    data-url="{% for e in graph_repartition %}{% url 'accounts_view' e.account %}{% if not forloop.last %};{% endif %}{% endfor %}"
                    data-table-target="account"
                ></canvas>
                {% else %}
                <div class="alert alert-secondary" role="alert">
                    <i class="fa fa-info-circle"></i> {% trans "No graph to display." %}
                </div>
                {% endif %}
            </div>
            <div class="col-sm-6">
                <table class="table table-bordered table-sm table-hover table-striped">
                    <thead>
                        <th scope="col">{% trans "Account" %}</th>
                        <th scope="col">{% trans "Amount" %}</th>
                    </thead>
                    <tbody>
                        {% for r in repartition %}
                        <tr>
                            <td data-graph-color="account-{{ r.account__title }}">
                                <a href="{% url 'accounts_view' r.account %}">{{ r.account__title }}</a>
                            </td>
                            <td class="text-right">
                                {% display_amount r.balance %}
                            </td>
                        </tr>
                        {% endfor %}
                    </tbody>
                    {% if repartition|length > 0 %}
                        <tfoot>
                            <tr>
                                <th class="text-right">Σ</th>
                                <th class="text-right">
                                    {% display_amount repartition_sum %}
                                </th>
                            </tr>
                        </tfoot>
                    {% endif %}
                </table>
            </div>
        </div>
    </div>
</div>

<br>
<div class="row">
    <div class="col-sm">
        <h2>{% trans "Operations" %}</h2>

        {% include "operations/_list.html" with operations=object_list display_account_colum=True %}
    </div>
</div>


{% if object.auto_affects|length > 0 %}
<div class="row">
    <div class="col-sm">
        <h2>{% trans "Auto affect" %}</h2>

        <ul>
            {% for a in object.auto_affects %}
            <li><code>{{ a }}</code></li>
            {% endfor %}
        </ul>
    </div>
</div>
{% endif %}

{% include "operations/_modal_select_dest_account.html" %}

{% endblock %}

{% block scripts %}
{{ block.super }}
<script>
$(function () {
    var graph_monthly_balance = $("#graph_monthly_balance");
    var chart = new Chart(graph_monthly_balance.get(0).getContext('2d'), {
        type: 'bar',
        data: {
            labels: graph_monthly_balance.data("x").split(";"),
            datasets: [{
                label: "Balance",
                backgroundColor: colors[3],
                data: graph_monthly_balance.data("y")
            }]
        },
        options: {
            aspectRatio: 4,
            animation: {
                duration: 0
            },
            responsiveAnimationDuration: 0,
            scales: {
                yAxes: [{
                    ticks: {
                        beginAtZero: true
                    }
                }]
            },
            tooltips: {
                callbacks: {
                    label: function(tooltipItem, data) {
                        var label = data.datasets[tooltipItem.datasetIndex].label || '';

                        if (label) {
                            label += ': ';
                        }
                        label += tooltipItem.yLabel;
                        label += "€";
                        return label;
                    }
                }
            }
        }
    });

    $(".graph_pie").each(function(index) {
        var graph = $(this);
        var accounts_urls = graph.data("url").split(";");
        var labels = graph.data("labels").split(";");
        var values = graph.data("y");
        var table_target = graph.data("table-target");

        addChartColorBadgesInTables(labels, colors, table_target);

        graph.click(function(event) {
            var activePoints = chart.getElementsAtEventForMode(event, 'nearest', {intersect: true}, false);
            window.location = accounts_urls[activePoints[0].index];
        });

        var chart = new Chart(graph.get(0).getContext('2d'), {
            type: 'doughnut',
            data: {
                labels: labels,
                datasets: [{
                    data: values,
                    backgroundColor: colors
                }]
            },
            options: {
                aspectRatio: 4,
                onHover: function(event, element) {
                    const currentStyle = event.native.target.style;
                    if (element[0] !== undefined) {
                        currentStyle.cursor = "pointer";
                    }
                    else {
                        currentStyle.cursor = "auto";
                    }
                },
                plugins: {
                    tooltip: chart_tooltip_label
                }
            }
        });
    });
});
</script>
{% endblock %}
