{% extends "base.html" %}

{% load i18n %}
{% load crispy_forms_tags %}

{% block breadcumb %}
{{ block.super }}

<li class="breadcrumb-item"><a href="{% url 'categories_index' %}">{% trans "Categories" %}</a></li>
<li class="breadcrumb-item"><a href="{% url 'categories_view' category.id %}">{{ category.title }}</a></li>
<li class="breadcrumb-item active">{% trans "Edit" %}</li>
{% endblock %}

{% block content %}

<div class="row">
    <div class="col-sm">
        <h1>{% trans "Edit a category" %}</h1>
    </div>
</div>


{% crispy form %}

{% endblock %}
