{% extends "base.html" %}

{% load i18n %}

{% block breadcumb %}
{{ block.super }}
<li class="breadcrumb-item active">{% trans "Categories" %}</li>
{% endblock %}

{% block content %}
<div class="row">
    <div class="col-sm">
        <h1>{% trans "Categories" %}</h1>
    </div>
</div>

<div class="row">
    <div class="col-sm">
        <a class="btn btn-primary" href="{% url 'categories_add' %}"><i class="fas fa-plus-square"></i> {% trans "Add a category" %}</a>
    </div>
</div>

<br>

<div class="row">
    <div class="col-sm">
        <table class="table table-hover table-striped table-bordered table-sm">
            <thead>
                <tr>
                    <th scope="col">{% trans "Name" %}</th>
                    <th scope="col">{% trans "Actions" %}</th>
                </tr>
            </thead>
            <tbody>
                <tr>
                    <td><a href="{% url 'categories_view' without_category.pk %}"><i>{{ without_category.title }}</i></a></td>
                    <td></td>
                </tr>
                {% for category in categories %}
                <tr>
                    <td><a href="{% url 'categories_view' category.id %}">{{ category.title }}</a></td>
                    <td>
                        <form data-modal="confirm" data-text="{% trans 'Delete ?' %}" id="delete-form-{{ category.id }}" action="{% url 'categories_delete' category.id %}" method="post">
                            {% csrf_token %}
                        </form>
                        <div class="btn-group" role="group">
                            <a class="btn btn-primary btn-sm btn-warning" href="{% url 'categories_edit' category.id %}" role="button" title="{% trans 'Edit' %}">
                                <i class="fas fa-pen"></i>
                            </a>
                            <button type="submit" form="delete-form-{{ category.id }}" class="btn btn-primary btn-sm btn-danger" title="{% trans 'Delete' %}">
                                <i class="fas fa-trash"></i>
                            </button>
                        </div>
                    </td>
                </tr>
                {% endfor %}
            </tbody>
        </table>
    </div>
</div>

{% endblock %}
