{% extends "base.html" %}

{% load i18n %}
{% load display_amount %}

{% block breadcumb %}
{{ block.super }}
<li class="breadcrumb-item active">{% trans "Operation templates" %}</li>
{% endblock %}

{% block content %}
<div class="row">
    <div class="col-sm">
        <h1>{% trans "Operation templates" %}</h1>
    </div>
</div>

<div class="row">
    <div class="col-sm">
        <a class="btn btn-primary" href="{% url 'operation_templates_add' %}"><i class="fas fa-plus-square"></i> {% trans "Add an operation template" %}</a>
    </div>
</div>

<br>

<div class="row">
    <div class="col-sm">
        <table class="table table-striped table-bordered table-sm">
            <thead>
                <tr>
                    <th scope="col">{% trans "Name" %}</th>
                    <th scope="col">{% trans "Accounts" %}</th>
                    <th scope="col">{% trans "Method" %}</th>
                    <th scope="col">{% trans "Description" %}</th>
                    <th scope="col">{% trans "Categories" %}</th>
                    <th scope="col">{% trans "Amount" %}</th>
                    <th scope="col">{% trans "Actions" %}</th>
                </tr>
            </thead>
            <tbody>
                {% for operation_template in operation_templates %}
                <tr>
                    <td>{{ operation_template.title }}</td>
                    <td>
                        <ul>
                        {% for account in operation_template.accounts.all %}
                            <li>
                                <a href="{% url 'accounts_view' account.id %}">{{ account.title }}</a>
                            </li>
                        {% endfor %}
                        </ul>
                    </td>
                    <td>
                        {% if operation_template.method is not None %}
                            {{ operation_template.method }}
                        {% endif %}
                    </td>
                    <td>
                        {% if operation_template.description is not None %}
                            {{ operation_template.description }}
                        {% endif %}
                        {% if operation_template.comment|length %}
                            {% if operation_template.description|length %}
                                <br>
                            {% endif %}
                            <small>{{ operation_template.comment }}</small>
                        {% endif %}
                    </td>
                    <td>
                        {% include "categories/_list_badges.html" with categories=operation_template.categories.all %}
                    </td>
                    <td class="text-right">
                        {% if operation_template.amount is not None %}
                            {% display_amount operation_template.amount %}
                        {% endif %}
                    </td>
                    <td>
                        <form data-modal="confirm" data-text="{% trans 'Delete ?' %}" id="delete-form-{{ operation_template.id }}" action="{% url 'operation_templates_delete' operation_template.id %}" method="post">
                            {% csrf_token %}
                        </form>
                        <div class="btn-group" role="group">
                            <a class="btn btn-primary btn-sm btn-warning" href="{% url 'operation_templates_edit' operation_template.id %}" role="button" title="{% trans 'Edit' %}">
                                <i class="fas fa-pen"></i>
                            </a>
                            <button type="submit" form="delete-form-{{ operation_template.id }}" class="btn btn-primary btn-sm btn-danger" title="{% trans 'Delete' %}">
                                <i class="fas fa-trash"></i>
                            </button>
                        </div>
                    </td>
                </tr>
                {% endfor %}
            </tbody>
        </table>
    </div>
</div>

{% endblock %}
