{% load i18n %}

<a class="btn btn-info btn-sm" href="{% url 'operations_view' operation.id %}" title="{% trans 'Show' %}" role="button">
    <i class="fas fa-eye"></i>
</a>
<a class="btn btn-sm btn-warning" href="{% url 'operations_edit' operation.id %}" title="{% trans 'Edit' %}" role="button">
    <i class="fas fa-pen"></i>
</a>
{% include "operations/_button_clone.html" %}
{% include "operations/_button_refund.html" %}
<a class="btn btn-sm btn-warning" href="{% url 'operation_templates_add' %}?operation={{ operation.pk }}" title="{% trans 'Create template from this operation' %}" role="button">
    <i class="fa fa-ruler-combined"></i>
</a>
