{% load i18n %}
{% load crispy_forms_tags %}

<form method="post" action="" class="form-horizontal" enctype="multipart/form-data">

    {% if form_dates %}
    <div class="form-group row" id="dates_fieldset">
        <label class="col-lg-2">{% trans "Paid dates" %}</label>
        <div class="col-8">
            {% crispy form_dates form_dates.form.helper %}

            <div class="col-2 dates-formset-add-button text-center"></div>
        </div>
    </div>
    {% endif %}

    {% crispy form %}

    <div class="form-group row" id="receipts_fieldset">
        <label class="col-lg-2">
            {% trans "Receipts" %}
            {% if form_dates %}
            <small class="form-text text-muted">
                <i class="fa fa-info-circle"></i>
                {% trans "If you set many paid dates, receipts will be bound only to the first operation." %}
            </small>
            {% endif %}
        </label>
        <div class="col-8">
            {% crispy form_receipts form_receipts.form.helper %}

            <div class="offset-5 receipts-formset-add-button"></div>
        </div>
    </div>

    <input type="submit" name="save" value="Save" class="btn btn-primary btn-default offset-lg-2" id="submit-id-save">
</form>
