{% load i18n %}
{% load money_paginator %}
{% load list_prev %}
{% load display_amount %}

<table class="table table-bordered table-sm table-hover">
    <thead class="sticky-top thead-light">
        <tr>
            <th colspan="{% if display_account_colum %}8{% else %}7{% endif %}">
                {% display_pagination hashtag=hashtag %}
            </th>
        </tr>
        <tr>
            <th scope="col">
                {% trans "Acted Date (bank date)" %}
                <i class="fa fa-sort-amount-up"></i>
            </th>
            <th scope="col">{% trans "Paid Date" %}</th>
            {% if display_account_colum %}
                <th scope="col">{% trans "Account" %}</th>
            {% endif %}
            <th scope="col">{% trans "Method" %}</th>
            <th scope="col">{% trans "Description" %}</th>
            <th scope="col">{% trans "Categories" %}</th>
            <th scope="col">{% trans "Amount" %}</th>
            <th scope="col">{% trans "Actions" %}</th>
        </tr>
    </thead>
    <tbody>
        {% for operation in operations %}
        {% with previous_operation=operations|previous:forloop.counter0 %}
        {% if previous_operation is not None and previous_operation.bank_date|date:"Ym" != operation.bank_date|date:"Ym" %}
            <tr>
                <td colspan="{% if display_account_colum %}8{% else %}7{% endif %}" class="table-info text-center">
                    <i class="fas fa-angle-down"></i>
                    {{ operation.bank_date|date:"F Y" }}
                </td>
            </tr>
        {% endif %}
        {% if asked_date is not None and previous_operation is not None and operation.bank_date < asked_date and previous_operation.bank_date > asked_date %}
            <tr class="table-success">
                <td colspan="7"><b>{{ asked_date|date:"d/m/Y" }}</b></td>
            </tr>
        {% endif %}
        {% endwith %}
        {% if operation.pk in hidden_operations %}
        <tr
            class="
            {% if asked_date is not None and asked_date == operation.bank_date %}
                table-success
            {% elif not operation.read %}
                table-secondary
            {% endif %}
            {% if operation.pk in hidden_operations %}
                hidden-operation
            {% endif %}
            "
        >
            <td colspan="7" class="text-center">
                <button class="btn btn-outline-secondary btn-sm show-operation-btn" title="{% trans 'Display the operation' %}" ><i class="fa fa-eye-slash"></i></button>
            </td>
        </tr>
        {% endif %}
        <tr
            {% if asked_date is not None and asked_date == operation.bank_date or not operation.read or operation.pk in hidden_operations %}
                class="
                {% if asked_date is not None and asked_date == operation.bank_date %}
                    table-success
                {% elif not operation.read %}
                    table-secondary
                {% endif %}
                "
            {% endif %}
        >
            <td>
                {% if asked_date is not None and asked_date == operation.bank_date %}<b>{% endif %}
                    <a href="{% url 'accounts_view' operation.account.id %}?date={{ operation.bank_date|date:'Y-m-d'}}#tab_tables">
                        {{ operation.bank_date|date:"d/m/Y" }}
                    </a>
                {% if asked_date is not None and asked_date == operation.bank_date %}</b>{% endif %}
            </td>
            <td>{{ operation.date_paid|date:"d/m/Y" }}</td>
            {% if display_account_colum %}
                <td>
                    <a href="{% url 'accounts_view' operation.account.id %}">{{ operation.account.title }}</a>
                </td>
            {% endif %}
            <td>
                {{ operation.method }}
                {% if operation.transfer_opposite_operation is not None %}
                    <a href="{% url 'operations_view' operation.transfer_opposite_operation.id %}" class="badge badge-secondary">
                        <i class="fas fa-exchange-alt" data-toggle="tooltip" data-placement="top" title="{% if operation.amount > 0 %}{% trans "Tranfer from" %}{% else %}{% trans "Transfer to" %}{% endif %} {{ operation.transfer_opposite_operation.account.title }}"></i>
                    </a>
                {% endif %}
            </td>
            <td>
                {% if operation.linked_operations.all|length or operation.operationreceipt_set.all|length %}
                    <span class="float-right">
                    {% if operation.linked_operations.all|length %}
                        <i class="fa fa-code-branch"></i>
                    {% endif %}
                    {% if operation.operationreceipt_set.all|length %}
                        <i class="far fa-file"></i>
                    {% endif %}
                    </span>
                {% endif %}
                {% if operation.description|length %}
                    {{ operation.description }}
                    {% if operation.bank_description is not None and operation.bank_description|length %}
                        <span
                            class="badge badge-secondary"
                            data-toggle="popover-hover"
                            title="{{ operation.bank_description }}"
                            data-content="{% if operation.bank_comment|length %}{{ operation.bank_comment }}{% else %}{% trans 'No bank description' %}{% endif %}"
                        >
                            <i class="fas fa-landmark"></i>
                        </span>
                    {% endif %}
                    {% if operation.comment|length %}
                        <br>
                        <small>{{ operation.comment|linebreaksbr }}</small>
                    {% endif %}
                {% else %}
                    <samp>
                        {{ operation.bank_description }}
                        {% if operation.bank_comment is not None and operation.bank_comment|length %}
                            <br>
                            <small>{{ operation.bank_comment|linebreaksbr }}</small>
                        {% endif %}
                    </samp>
                {% endif %}
            </td>
            <td>
                {% include "categories/_list_badges.html" with categories=operation.all_categories %}
            </td>
            <td class="text-right">
                {% if operation.takes_from_support %}
                    <i class="fa-solid fa-share-from-square" data-toggle="tooltip" data-placement="top" title="Taken from the support"></i>
                {% endif %}
                {% display_amount operation.amount %}
            </td>
            <td>
                {% if operation.is_merged_with_pending %}
                <form data-text="{% trans 'Unlink ?' %}" data-modal="confirm" id="unlink-form-{{ operation.id }}" action="{% url 'operations_unlink' operation.id %}" method="post">
                    {% csrf_token %}
                </form>
                {% endif %}
                {% if not operation.read %}
                <form id="read-form-{{ operation.id }}" action="{% url 'operations_read' operation.id %}" method="post">
                    {% csrf_token %}
                </form>
                {% endif %}
                <div class="btn-group" role="group">
                    {% include "operations/_buttons.html" %}
                    {% if operation.is_merged_with_pending %}
                    <button type="submit" form="unlink-form-{{ operation.id }}" title="{% trans 'Unlink the operation' %}" class="btn btn-primary btn-sm">
                        <i class="fas fa-unlink"></i>
                    </button>
                    {% else %}
                    <a class="btn btn-primary btn-sm" href="{% url 'operations_set_pending' operation.id %}" title="{% trans 'Select the matching pending operation' %}" role="button">
                        <i class="fas fa-link"></i>
                    </a>
                    {% endif %}
                    {% if not operation.read %}
                    <button type="submit" form="read-form-{{ operation.id }}" title="{% trans 'Mark as read' %}" class="btn btn-primary btn-sm">
                        <i class="fas fa-check"></i>
                    </button>
                    {% endif %}
                </div>
            </td>
        </tr>
        {% endfor %}
    </tbody>
    {% if sum_amount is not None and operations|length > 1 %}
        <tfoot>
            <tr>
                <th colspan="{% if display_account_colum %}6{% else %}5{% endif %}" class="text-right">Σ</th>
                <th class="text-right">
                    {% display_amount sum_amount %}
                </th>
                <th></th>
            </tr>
        </tfoot>
    {% endif %}
</table>
