{% load i18n %}

<div id="modal-select-dest-account" class="modal" tabindex="-1">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title"></h5>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
            </div>
            <div class="modal-body">
                <p></p>
                <div class="list-group">
                    {% for account in dest_accounts_clone_operation %}
                    <a data-base-href="{% url 'operations_add' account.id %}" href="#" class="list-group-item list-group-item-action">{{ account.title }}</a>
                    {% endfor %}
                </div>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-secondary" data-dismiss="modal">{% trans "Cancel" %}</button>
            </div>
        </div>
    </div>
</div>
