{% load i18n %}
{% load display_amount %}

<table class="table table-striped table-bordered table-sm table-hover">
    <thead>
        <tr>
            <th scope="col">
                {% trans "Paid Date" %}
                <i class="fa fa-sort-amount-up"></i>
            </th>
            {% if display_account_colum %}
                <th scope="col">{% trans "Account" %}</th>
            {% endif %}
            <th scope="col">{% trans "Method" %}</th>
            <th scope="col">{% trans "Description" %}</th>
            <th scope="col">{% trans "Categories" %}</th>
            <th scope="col">{% trans "Amount" %}</th>
            <th scope="col">{% trans "Actions" %}</th>
        </tr>
    </thead>
    <tbody>
        {% if hidden_pending_operations and hidden_pending_operations|length > 0 %}
        <tr>
            <td colspan="6" class="text-center">
                <button class="btn btn-outline-secondary btn-sm" id="show-pending-operations-btn" title="{% trans 'Show all pending operations' %}">
                    <i class="fas fa-ellipsis-h"></i>
                </button>
            </td>
        </tr>
        {% endif %}
        {% for operation in pending_operations %}
        <tr {% if hidden_pending_operations and operation in hidden_pending_operations %}class="d-none hidden-pending-operation"{% endif %}>
            <td>{{ operation.date_paid|date:"d/m/Y" }}</td>
            {% if display_account_colum %}
                <td>
                    <a href="{% url 'accounts_view' operation.account.id %}">{{ operation.account.title }}</a>
                </td>
            {% endif %}
            <td>
                {{ operation.method }}
                {% if operation.transfer_opposite_operation is not None %}
                    <a href="{% url 'operations_view' operation.transfer_opposite_operation.id %}" class="badge badge-secondary">
                        <i class="fas fa-exchange-alt" data-toggle="tooltip" data-placement="top" title="{% if operation.amount > 0 %}{% trans "Tranfer from" %}{% else %}{% trans "Transfer to" %}{% endif %} {{ operation.transfer_opposite_operation.account.title }}"></i>
                    </a>
                {% endif %}
            </td>
            <td>
                {% if operation.linked_operations.all|length or operation.operationreceipt_set.all|length %}
                    <span class="float-right">
                    {% if operation.linked_operations.all|length %}
                        <i class="fa fa-code-branch"></i>
                    {% endif %}
                    {% if operation.operationreceipt_set.all|length %}
                        <i class="far fa-file"></i>
                    {% endif %}
                    </span>
                {% endif %}
                {{ operation.description }}
                {% if operation.comment is not None %}
                    <br>
                    <small>{{ operation.comment|linebreaksbr }}</small>
                {% endif %}
            </td>
            <td>
                {% include "categories/_list_badges.html" with categories=operation.all_categories %}
            </td>
            <td class="text-right">
                {% display_amount operation.amount %}
            </td>
            <td>
                <form data-text="{% trans 'Delete ?' %}" data-modal="confirm" id="delete-form-{{ operation.id }}" action="{% url 'operations_delete' operation.id %}" method="post">
                    {% csrf_token %}
                </form>
                <div class="btn-group" role="group">
                    {% include "operations/_buttons.html" %}
                    <button type="submit" form="delete-form-{{ operation.id }}" class="btn btn-primary btn-sm btn-danger" title="{% trans 'Delete' %}">
                        <i class="fas fa-trash"></i>
                    </button>
                </div>
            </td>
        </tr>
        {% endfor %}
    </tbody>
    {% if sum_amount is not None and operations|length > 1 %}
        <tfoot>
            <tr>
                <th colspan="{% if display_account_colum %}6{% else %}5{% endif %}" class="text-right">Σ</th>
                <th class="text-right">
                    {% display_amount sum_amount %}
                </th>
                <th></th>
            </tr>
        </tfoot>
    {% endif %}
</table>
