{% extends "base.html" %}

{% load i18n %}

{% block breadcumb %}
{{ block.super }}

<li class="breadcrumb-item"><a href="{% url 'accounts_index' %}">{% trans "Accounts" %}</a></li>
<li class="breadcrumb-item"><a href="{% url 'accounts_view' account.id %}">{{ account.title }}</a></li>
<li class="breadcrumb-item active">{% trans "Add an operation" %}</li>
{% endblock %}

{% block content %}

<div class="row">
    <div class="col-sm">
        <h1>{% trans "Add an operation" %}</h1>
    </div>
</div>

{% include "operations/_form.html" %}

{% endblock %}



{% block scripts %}
{{ block.super }}
<script>
$(function () {
    $("#id_description").on('blur', function(e) {
        if ($('#id_categories').val().length == 0) {
            var desc = encodeURIComponent($(this).val());

            $.getJSON("{% url 'categories_get_auto_affect' %}?desc=" + desc, function(result) {
                $("#id_categories").val(result);
                $("#id_categories").trigger("change");
            });
        }
    });
});
</script>
{% endblock %}
