{% extends "base.html" %}

{% load i18n %}
{% load crispy_forms_tags %}
{% load display_amount %}

{% block breadcumb %}
{{ block.super }}

<li class="breadcrumb-item"><a href="{% url 'accounts_index' %}">{% trans "Accounts" %}</a></li>
<li class="breadcrumb-item"><a href="{% url 'accounts_view' operation.account.id %}">{{ operation.account.title }}</a></li>
<li class="breadcrumb-item active">{% trans "Operation details" %}</li>
{% endblock %}

{% block content %}

<div class="row justify-content-between align-items-center">
    <div class="col-auto mr-auto">
        <h1>{% trans "Operation details" %}</h1>
    </div>
    <div class="col-auto">
        <a class="btn btn-warning btn-sm" href="{% url "operations_edit" operation.id %}" title="{% trans 'Edit' %}">
            <i class="fa fa-pen"></i>
        </a>
    </div>
</div>

<div class="row justify-content-md-center">
    <div class="col-md-5">
        <div class="card">
            <div class="card-body">
                <dl class="row">
                    <dt class="col-sm-4">{% trans "Amount:" %}</dt>
                    <dd class="col-sm-8 text-right">
                        {% display_amount operation.amount %}
                    </dd>

                    <dt class="col-sm-4">{% trans "Method:" %}</dt>
                    <dd class="col-sm-8 text-right">{{ operation.method }}</dd>

                    <dt class="col-sm-4">{% trans "Categories:" %}</dt>
                    <dd class="col-sm-8 text-right">
                        {% include "categories/_list_badges.html" with categories=operation.all_categories %}
                    </dd>

                    {% if operation.is_merged_with_pending or not operation.is_bank_operation %}
                        <hr class="col-sm-11">

                        <dt class="col-sm-4">{% trans "Date paid:" %}</dt>
                        <dd class="col-sm-8 text-right">{{ operation.date_paid|date:"d/m/Y" }}</dd>

                        <dt class="col-sm-4">{% trans "Description:" %}</dt>
                        <dd class="col-sm-8 text-right">{{ operation.description }}</dd>

                        {% if operation.comment is not None and operation.comment|length %}
                            <dt class="col-sm-4">{% trans "Comment:" %}</dt>
                            <dd class="col-sm-8 text-right">{{ operation.comment|linebreaksbr }}</dd>
                        {% endif %}
                    {% endif %}

                    {% if operation.is_bank_operation %}
                        <hr class="col-sm-11">

                        <dt class="col-sm-4">{% trans "Bank date:" %}</dt>
                        <dd class="col-sm-8 text-right">
                            <samp>
                                <a href="{% url 'accounts_view' operation.account.id %}?date={{ operation.bank_date|date:'Y-m-d'}}#tab_tables">
                                    {{ operation.bank_date|date:"d/m/Y" }}
                                </a>
                            </samp>
                        </dd>

                        {% if operation.import_datetime %}
                            <dt class="col-sm-4">{% trans "Import datetime:" %}</dt>
                            <dd class="col-sm-8 text-right">
                                <samp>
                                    {{ operation.import_datetime|date:"d/m/Y G\hi" }}
                                </samp>
                            </dd>
                        {% endif %}

                        <dt class="col-sm-4">{% trans "Bank description:" %}</dt>
                        <dd class="col-sm-8 text-right"><samp>{{ operation.bank_description }}</samp></dd>

                        {% if operation.bank_comment is not None and operation.bank_comment|length %}
                            <dt class="col-sm-4">{% trans "Bank comment:" %}</dt>
                            <dd class="col-sm-8 text-right"><samp>{{ operation.bank_comment }}</samp></dd>
                        {% endif %}
                    {% endif %}

                    {% if operation.transfer_opposite_operation is not None %}
                        <hr class="col-sm-11">

                        <dt class="col-sm-4">
                            {% if operation.amount > 0 %}
                                {% trans "Tranfer from account:" %}
                            {% else %}
                                {% trans "Transfer to account:" %}
                            {% endif %}
                        </dt>
                        <dd class="col-sm-8 text-right">
                            <a href="{% url 'accounts_view' operation.transfer_opposite_operation.account.id %}">
                                {{ operation.transfer_opposite_operation.account.title }}
                            </a>
                        </dd>
                    {% endif %}
                </dl>
            </div>
        </div>
    </div>
</div>



{% if operation.linked_operations.all|length %}
    <br>
    <div class="row">
        <div class="col-sm">
            <h2>{% trans "Linked operations" %}</h2>

            {% if pending_linked|length %}
                <h3>{% trans "Pending operations" %}</h3>
                {% include "operations/_pending_list.html" with pending_operations=pending_linked display_account_colum=True sum_amount=sum_pending_linked %}
            {% endif %}

            {% if bank_linked|length %}
                <h3>{% trans "Bank operations" %}</h3>
                {% include "operations/_list.html" with operations=bank_linked display_account_colum=True sum_amount=sum_bank_linked %}
            {% endif %}
        </div>
    </div>

    {% include "operations/_modal_select_dest_account.html" %}
{% endif %}


{% if operation.operationreceipt_set.all|length %}
    <br>
    <div class="row justify-content-md-center">
        <div class="col-md-5">
            <h2>{% trans "Receipts" %}</h2>

            <table class="table table-striped table-bordered table-sm table-hover">
                <thead>
                    <tr>
                        <th scope="col">{% trans "File" %}</th>
                        <th scope="col">{% trans "Type" %}</th>
                    </tr>
                </thead>
                <tbody>
                    {% for receipt in operation.operationreceipt_set.all %}
                    <tr>
                        <td>
                            <a href="{{ receipt.receipt_file.url }}">{{ receipt.filename }}</a>
                        </td>
                        <td>{{ receipt.get_kind_display }}</td>
                    </tr>
                    {% endfor %}
                </tbody>
            </table>
        </div>
    </div>
{% endif %}

{% endblock %}
