{% extends "base.html" %}

{% load i18n %}

{% block breadcumb %}
{{ block.super }}

<li class="breadcrumb-item"><a href="{% url 'accounts_index' %}">{% trans "Accounts" %}</a></li>
<li class="breadcrumb-item"><a href="{% url 'accounts_view' operation.account.id %}">{{ operation.account.title }}</a></li>
<li class="breadcrumb-item active">{% trans "Edit an operation" %}</li>
{% endblock %}

{% block content %}

<div class="row">
    <div class="col-sm">
        <h1>{% trans "Edit an operation" %}</h1>
    </div>
</div>

{% include "operations/_form.html" %}

<br>

{% endblock %}
