{% extends "base.html" %}

{% load i18n %}
{% load crispy_forms_tags %}
{% load humanize %}

{% block breadcumb %}
{{ block.super }}

<li class="breadcrumb-item active">{% trans "Search" %}</li>
{% endblock %}

{% block content %}

<div class="row">
    <div class="col-sm">
        <h1>{% trans "Search operations" %}</h1>
    </div>
</div>


{% crispy form %}

{% if display_results %}
    <br>
    <div class="row">
        <div class="col-sm">
            <h2>{% trans "Results" %}</h2>

            {% if pendings|length %}
                <h3>{% trans "Pending operations" %}</h3>
                <p>
                    {% blocktrans count count=pendings|length %}
                        {{ count }} operation
                    {% plural %}
                        {{ count }} operations
                    {% endblocktrans %}
                </p>
                {% include "operations/_pending_list.html" with pending_operations=pendings display_account_colum=True %}
            {% endif %}

            {% if bank_operations|length %}
                <h3>{% trans "Bank operations" %}</h3>
                <p>
                    {% blocktrans count count=bank_operations|length %}
                        {{ count }} operation
                    {% plural %}
                        {{ count }} operations
                    {% endblocktrans %}
                </p>
                {% include "operations/_list.html" with operations=bank_operations display_account_colum=True %}
            {% endif %}
        </div>
    </div>

    {% include "operations/_modal_select_dest_account.html" %}
{% endif %}

{% endblock %}
