{% extends "base.html" %}

{% load i18n %}
{% load crispy_forms_tags %}
{% load display_amount %}

{% block breadcumb %}
{{ block.super }}

<li class="breadcrumb-item"><a href="{% url 'accounts_index' %}">{% trans "Accounts" %}</a></li>
<li class="breadcrumb-item"><a href="{% url 'accounts_view' operation.account.id %}">{{ operation.account.title }}</a></li>
<li class="breadcrumb-item active">{% trans "Set pending operation" %}</li>
{% endblock %}

{% block content %}

<div class="row">
    <div class="col-sm">
        <h1>{% trans "Set pending operation" %}</h1>
    </div>
</div>

<div class="row justify-content-md-center">
    <div class="col-5">
        <div class="card">
            <div class="card-body">
                <dl class="row">
                    <dt class="col-sm-4">{% trans "Bank date:" %}</dt>
                    <dd class="col-sm-8 text-right">{{ operation.bank_date|date:"d/m/Y" }}</dd>

                    <dt class="col-sm-4">{% trans "Bank description:" %}</dt>
                    <dd class="col-sm-8 text-right"><samp>{{ operation.bank_description }}</samp></dd>

                    {% if operation.bank_comment is not None and operation.bank_comment|length %}
                    <dt class="col-sm-4">{% trans "Bank comment:" %}</dt>
                    <dd class="col-sm-8 text-right"><samp>{{ operation.bank_comment }}</samp></dd>
                    {% endif %}

                    <dt class="col-sm-4">{% trans "Method:" %}</dt>
                    <dd class="col-sm-8 text-right"><samp>{{ operation.method }}</samp></dd>

                    <dt class="col-sm-4">{% trans "Amount:" %}</dt>
                    <dd class="col-sm-8 text-right">
                        {% display_amount operation.amount %}
                    </dd>
                </dl>
            </div>
        </div>
    </div>
</div>

<br>

{% crispy form %}

{% endblock %}
