<fieldset id="acc-comptes">
	<legend>Accès rapide aux comptes</legend>
	<p class="gauche">
		<label>Accès rapide à vos comptes &gt;&gt;</label>
		<select name="lstCpte" id="lstCpte" onchange="location =document.getElementById('lstCpte').options[document.getElementById('lstCpte').selectedIndex].value;" data-cip-id="abc_123">
		
		 	<option value="collecteNI?fwkaid=abc_123&amp;fwkpid=abc_123&amp;fwkidpu=abc_123&amp;fwkrank=1&amp;fwkmperf=OFF&amp;executeNP=&amp;fwkaction=Releves&amp;fwkcodeaction=Executer&amp;stbzn=pu&amp;stbpg=pagePU&amp;sessionAPP=Releves&amp;sessionSAG=-abc_123-55d2.SAG_V6&amp;XCDOMC=30&amp;NOCPT=123456&amp;CSSCP=00000000000&amp;CFPRO=30&amp;CFONCP=null&amp;MSTPRE=null&amp;CADEVI=null&amp;IDELCOCS=null&amp;LILIG1=&amp;APPELANT=Releves&amp;SYNTH_ORIGINE=Releves">CCHQ n°123456</option>
		
		</select>
	</p>
</fieldset>

<!-------------- CPT-REL31-EL-060  Nom + Nature--------------->
<table class="ca-table" width="100%">
<caption><span class="tdb-cartes-prop"><b>


	M.       Machin Bidule                                   

		</b></span>
	<span style="float:right;font-style:normal;">Montant en Euros</span>
</caption>

<tbody>
	<tr class="ligne-impaire">
		<th colspan="2" class="cel-texte" scope="row" style="padding-left:0">
				LIV A     
<!---------- FIN CPT-REL31-EL-060 --------------->




<!-------------- CPT-REL31-EL-065  Numéro de compte--------------->
				n°123456789
<!---------- FIN CPT-REL31-EL-065 --------------->




<!-------------- CPT-REL31-EL-070 Tag Montant et date du solde--------------->
			</th>
			
<!---------- FIN CPT-REL31-EL-070 --------------->







<!-------------- CPT-REL31-EL-090  Date du solde--------------->
				<td class="cel-texte" style="padding-left:0">
				Solde au 22/12/2019 : 
				</td>
<!---------- FIN CPT-REL31-EL-090 --------------->




<!-------------- CPT-REL31-EL-100 Montant du solde positif defaut --------------->
			<td class="cel-num" style="font-weight:bold">
				22 720,53
				</td>
<!---------- FIN CPT-REL31-EL-100 --------------->







<!-------------- CPT-REL31-EL-152 Fin de Tag --------------->
</tr>
<!---------- FIN CPT-REL31-EL-152 --------------->



<!-------------- CPT-REL31-EL-200  Debut Fiscalites ou / et interets --------------->
<tr>
<!---------- FIN CPT-REL31-EL-200 --------------->



<!-------------- CPT-REL31-EL-205 Pas de fiscalité--------------->
	<th colspan="2"></th>
<!---------- FIN CPT-REL31-EL-2052 --------------->








<!-------------- CPT-REL31-EL-170 Intérêts defaut --------------->
	<td class="cel-texte" style="padding-left:0">
				Intérêts du 01/01/2019 au 22/12/2019 : 
			
			</td>
			<td class="cel-num" style="font-weight:bold">
				143,09
				
			</td>
		
<!---------- FIN CPT-REL31-EL-170 --------------->





<!-------------- CPT-REL31-EL-215  Fin fiscalites ou / et interets --------------->
</tr>
<!---------- FIN CPT-REL31-EL-215 --------------->



</tbody>
</table>


<!-- Pagination -->


		
	






<table class="ca-table">


<!-------------- CPT-REL31-EL-220 Entete tableau--------------->

<caption><span class="tdb-cartes-prop"><b>HISTORIQUE DES OPERATIONS</b></span><span style="float:right;font-style:normal;">Montant en Euros</span></caption>

<!---------- FIN CPT-REL31-EL-220 --------------->






<!-------------- CPT-REL31-L-010 Liste des opérations, montant positif defaut --------------->
<tbody><tr class="ligne-paire">
	<td class="cel-texte">
		<font class="FontParDefaut">
		01/12
		</font>
	</td>
	<td class="cel-texte">
		<font class="FontParDefaut">
		Virement                            
		<br>
		Remboursement ABC   
		
		
					<br>
					Remboursement ABC
				
		 
		</font>
	</td>
	<td class="cel-num">
		<font class="FontParDefaut">
		150,00
		</font>
	</td>
</tr>
<!---------- FIN CPT-REL31-L-010 --------------->





<!-------------- CPT-REL31-L-010 Liste des opérations, montant positif defaut --------------->
<tr class="ligne-impaire">
	<td class="cel-texte">
		<font class="FontParDefaut">
		26/11
		</font>
	</td>
	<td class="cel-texte">
		<font class="FontParDefaut">
		Virement                            
		<br>
		Salaire Arrondi   
		
		
					<br>
					Salaire Arrondi
				
		 
		</font>
	</td>
	<td class="cel-num">
		<font class="FontParDefaut">
		1 000,00
		</font>
	</td>
</tr>
<!---------- FIN CPT-REL31-L-010 --------------->



<!---------- FIN CPT-REL31-PL-010 --------------->

</tbody></table>
<!-- Pagination -->
	
<ul id="menu-onglet">
    
    
</ul>  
