<table class="table">
      <caption>
            <div class="col-xs-6">

                  M.       Machin Bidule                                   

            </div>
            <div class="col-xs-6 text-right">Montant en Euros</div>
      </caption>

      <tbody>
            <tr>
                  <td>
                        <div class="col-xs-12 gras">
                              PEL        






                              n°123456789



                        </div>

                        <div class="col-xs-12 no-pad-lr avec-lignes">
                              <div class="col-xs-7">
                                    Solde 




                                    au 14/03/2020 


                              </div>
                              <div class="col-xs-5 cell-amount">
                                    1 234,56
                              </div> 
                        </div>
                        <div class="col-xs-12 col-sm-5 no-pad-lr">
                              <div class="col-xs-12">
                                    <span class="gras">Date d'ouverture :</span>
                                    <span>20/04/2017</span>
                              </div>

                              <div class="col-xs-12">
                                    <span class="gras">Versements :</span>
                                    <span style="white-space: nowrap;">tous les Mois           </span>
                              </div>


                              <div class="col-xs-12">
                                    <span class="gras">Plan à :</span>
                                    <span>1.0%</span>
                              </div>
                        </div>
                        <div class="col-xs-12 col-sm-7  no-pad-lr">
                              <div class="col-xs-12">
                                    <br class="visible-xs-block">
                                    <span class="gras">Montant des versements :</span>
                                    <span class="cell-amount pull-right">45,00</span>
                              </div>
                              <div class="col-xs-12">
                                    <span class="gras">Montant déjà&nbsp;versé&nbsp;:</span>			
                                    <span class="cell-amount pull-right">135,00</span>
                              </div>
                              <div class="col-xs-12">
                                    <span class="gras">A&nbsp;verser&nbsp;avant&nbsp;le&nbsp;20/04/20&nbsp;:</span>
                                    <span class="cell-amount pull-right">45,00 <!-- montant --></span>
                              </div>
                              <div class="col-xs-12">
                              </div>
                              <div class="col-xs-12">
                              </div>
                        </div>
                  </td>
            </tr>
      </tbody>
</table>		

<div class="row boutons-navig text-center" style="padding-bottom: 8px">
      <div class="col-xs-4 col-xs-offset-4 text-center">
            <span>1/2</span>
            <span alt="Page suivante" class="icon imgbam-picto-gosuiv"></span>
      </div>	
</div>

<table class="table table-mother">
      <caption>
            <div class="col-xs-6 no-pad-lr">HISTORIQUE DES <br class="visible-xs-block">VERSEMENTS</div>
            <div class="col-xs-6 text-right no-pad-lr">Montant<br class="visible-xs-block"> en Euros</div>
      </caption>
      <tbody>
            <tr>
                  <td style="padding:8px 2px;">
                        <div class="col-xs-12 no-pad-lr">
                              <div class="col-xs-3 no-pad-lr">
                                    <span>
                                          10/01/2020
                                    </span>
                              </div>

                              <div class="col-xs-6 no-pad-lr">
                                    <span>
                                          Virement En Votre Faveur            
                                          <br>
                                          Mens. Cpte Cheques  01/20          


                                    </span>
                              </div>


                              <div class="col-xs-3 cell-amount no-pad-lr">
                                    <span>
                                          45,00
                                    </span>
                              </div>
                        </div>
                  </td>
            </tr>

            <tr>
                  <td style="padding:8px 2px;">
                        <div class="col-xs-12 no-pad-lr">
                              <div class="col-xs-3 no-pad-lr">
                                    <span>
                                          31/12/2019
                                    </span>
                              </div>

                              <div class="col-xs-6 no-pad-lr">
                                    <span>
                                          Prelevement                         
                                          <br>
                                          Contrib. Sociale Generalisee       




                                    </span>
                              </div>

                              <div class="col-xs-3 cell-amount no-pad-lr" data-negative="">
                                    <span>
                                          -&nbsp;4,56
                                    </span>
                              </div>
                        </div>
                  </td>
            </tr>

            <tr>
                  <td style="padding:8px 2px;">
                        <div class="col-xs-12 no-pad-lr">
                              <div class="col-xs-3 no-pad-lr">
                                    <span>
                                          31/12/2019
                                    </span>
                              </div>

                              <div class="col-xs-6 no-pad-lr">
                                    <span>
                                          Prelevement                         
                                          <br>
                                          Nouveau Prelevement Solidarite     




                                    </span>
                              </div>

                              <div class="col-xs-3 cell-amount no-pad-lr" data-negative="">
                                    <span>
                                          -&nbsp;3,71
                                    </span>
                              </div>
                        </div>
                  </td>
            </tr>

            <tr>
                  <td style="padding:8px 2px;">
                        <div class="col-xs-12 no-pad-lr">
                              <div class="col-xs-3 no-pad-lr">
                                    <span>
                                          31/12/2019
                                    </span>
                              </div>

                              <div class="col-xs-6 no-pad-lr">
                                    <span>
                                          Prelevement                         
                                          <br>
                                          Remboursement Dette Sociale        




                                    </span>
                              </div>

                              <div class="col-xs-3 cell-amount no-pad-lr" data-negative="">
                                    <span>
                                          -&nbsp;0,24
                                    </span>
                              </div>
                        </div>
                  </td>
            </tr>

            <tr>
                  <td style="padding:8px 2px;">
                        <div class="col-xs-12 no-pad-lr">
                              <div class="col-xs-3 no-pad-lr">
                                    <span>
                                          31/12/2019
                                    </span>
                              </div>

                              <div class="col-xs-6 no-pad-lr">
                                    <span>
                                          Interets Crediteurs                 
                                          <br>
                                          De L'annee                         


                                    </span>
                              </div>


                              <div class="col-xs-3 cell-amount no-pad-lr">
                                    <span>
                                          49,59
                                    </span>
                              </div>
                        </div>
                  </td>
            </tr>

            <tr>
                  <td style="padding:8px 2px;">
                        <div class="col-xs-12 no-pad-lr">
                              <div class="col-xs-3 no-pad-lr">
                                    <span>
                                          10/12/2019
                                    </span>
                              </div>

                              <div class="col-xs-6 no-pad-lr">
                                    <span>
                                          Virement En Votre Faveur            
                                          <br>
                                          Mens. Cpte Cheques  12/19          


                                    </span>
                              </div>


                              <div class="col-xs-3 cell-amount no-pad-lr">
                                    <span>
                                          45,00
                                    </span>
                              </div>
                        </div>
                  </td>
            </tr>
      </tbody>
</table>
