<div class="row Template-padLR js-Template-padLR">
    <div id="accountsListSyntheseN3">
        <div class="AccountsDropdown AccountsDropdown--mainSynthesis" style="margin-bottom:-3px">
            <button id="selectedAccountId" aria-label="Afficher/Masquer la liste des comptes" class="AccountsDropdown-selected collapsed disabled" type="button" data-toggle="collapse" data-target="#AccountsDropdown-content--accountsList" aria-expanded="false" aria-controls="AccountsDropdown-content--accountsList">
                <li id="OperationSelectedAccount-weather" class="accountListItem accountListItem--synthesisAngular accountListItem--noIcon OperationMainAccount js-accountListItem">
                    <div class="OperationMainAccount-header OperationMainAccount-header--synthesisAngular">
                        <div class="OperationMainAccount-headerIcon"></div>
                        <div class="OperationMainAccount-headerContentDescription">
                            <div class="OperationMainAccount-headerDescription accountListItem-description">
                                <div class="accountListItem-descriptionItem OperationMainAccount-headerOwner">M.       MACHIN BIDULE                                   </div>
                                <div class="accountListItem-descriptionItem OperationMainAccount-headerNumber"><strong>Compte de Dépôt</strong> N° 123456789</div>
                            </div>
                            <div class="OperationMainAccount-headerAmount">
                                <div class="OperationMainAccount-headerAmountTitle">Solde au 07/03</div>
                                <div class="OperationMainAccount-headerAmountValue accountListItem-value--positive" aria-label="234.56 €">234,56&nbsp;€</div>
                                <div class="OperationMainAccount-headerAmountTitle OperationMainAccount-headerAmountTitle--valueDate"></div>
                            </div>
                        </div>
                    </div>
                </li>
            </button>
        </div>
    </div>

    <div class="SynthesisTab">
        <nav class="SynthesisTab-dispatch Dispatch js-Dispatch">
            <a data-toggle="tab" aria-controls="menu1" class="Dispatch-item js-Dispatch-item active" href="#menu1"><h2>Opérations</h2></a>
            <a data-toggle="tab" aria-controls="menu2" class="Dispatch-item js-Dispatch-item" href="#container-encours-carte" id="onglet-encours-carte" style="display: none;"><h2>Encours Carte</h2></a>
        </nav>
        <div class="tab-content SynthesisTab-content">
            <div role="tabpanel" class="tab-pane SynthesisTab-pane active" id="menu1">
                <div class="Operations js-Operations">
                    <div class="Operations-header">
                        <div class="Operations-order Operations-order--date Operations-order--asc">
                            <a href="#" id="tri-par-date" data-colonne-tri="date">Date</a>
                        </div>
                        <div class="Operations-order Operations-order--valueDate Operations-order--asc">
                            <a href="#" id="tri-par-date-valeur" data-colonne-tri="date-valeur">Date de valeur</a>
                        </div>
                        <div class="Operations-searchToggle">
                            <a data-toggle="collapse" aria-expanded="false" aria-controls="OperationsSearch" href="#OperationsSearch" class="js-no-scrollTo collapsed" onclick="NPC.synthese.n3.displayCompteOperations();return false;">
                                <span class="Operations-searchToggleText">
                                    <span class="hidden-xs">Plus de critères de recherche</span>
                                    <span class="visible-xs">Recherche</span>
                                </span>
                                <span class="Operations-searchToggleText Operations-searchToggleText--open">
                                    <span class="hidden-xs">Masquer la recherche</span>
                                    <span class="visible-xs">Masquer</span>
                                </span>
                            </a>
                        </div>
                        <div class="Operations-order Operations-order--value">
                            <a href="#" id="tri-par-montant" data-colonne-tri="montant">Montant</a>
                        </div>
                    </div>

                    <div id="OperationsSearch" class="Operations-search collapse OperationsSearch js-OperationsSearch">
                        <div class="OperationsSearch-inner">
                            <div class="OperationsSearch-inputs form-group">
                                <div id="message-erreur-container" class="OperationsSearch-input OperationsSearch-input--full input-field hidden"></div>
                                <div class="OperationsSearch-input OperationsSearch-input--full input-field">
                                    <label for="search" class="sr-only">Rechercher une opération</label>
                                    <input class="form-control" id="search" placeholder="Rechercher une opération">
                                    <span class="icon npc-magnifer input-field-icon"></span>
                                </div>
                                <div class="OperationsSearch-input OperationsSearch-input--date input-field js-OperationsSearch-input--date">
                                    <label for="date-min" class="sr-only">Du</label>
                                    <input class="form-control js-date-picker" id="date-min" placeholder="Du" value="08/09/2019">
                                    <span class="icon npc-calendar input-field-icon"></span>
                                </div>
                                <div class="OperationsSearch-input OperationsSearch-input--date input-field js-OperationsSearch-input--date">
                                    <label for="date-max" class="sr-only">Au</label>
                                    <input class="form-control js-date-picker" id="date-max" placeholder="Au" value="07/03/2020">
                                    <span class="icon npc-calendar input-field-icon"></span>
                                </div>

                                <div class="OperationsSearch-input OperationsSearch-input--check js-OperationsSearch-input--check">
                                    <div class="checkbox">
                                        <input type="checkbox" value="" class="checkbox-input" id="checkbox-date-valeur"><label class="checkbox-label" for="checkbox-date-valeur">Afficher la date de valeur</label>
                                    </div>
                                </div>

                                <div class="OperationsSearch-input OperationsSearch-input--value input-field">
                                    <label for="value-min" class="sr-only">Montant min</label>
                                    <input class="form-control js-numeric" id="value-min" placeholder="Montant min">
                                </div>
                                <div class="OperationsSearch-input OperationsSearch-input--value input-field">
                                    <label for="value-max" class="sr-only">Montant max</label>
                                    <input class="form-control js-numeric" id="value-max" placeholder="Montant max">
                                </div>
                            </div>
                            <div class="OperationsSearch-actions">
                                <button class="OperationsSearch-submit" onclick="NPC.synthese.n3.rechercheAvancee()">Rechercher</button>
                                <a href="#" class="OperationsSearch-reset" onclick="NPC.synthese.n3.reinitialiser();return false;">Réinitialiser</a>
                            </div>
                        </div>
                    </div>



                    <ul id="bloc-operations" class="Operations-list"><li class="Operation js-Operation" id="operation-detail-0">
                            <a href="#None" class="Operation-header Operation-header--notDropDown js-Operation-header">
                                <div id="dateOperation" class="Operation-date" data-format="OperationDateFormatter" aria-label="Mar 5, 2020 12:00:00 AM">05 Mars</div>
                                <div id="dateValeur" class="Operation-valueDate" data-format="OperationDateFormatter" aria-label="Mar 5, 2020 12:00:00 AM">05 Mars</div>
                                <div class="Operation-icon npc-card"></div>
                                <div class="Operation-main">
                                    <div class="Operation-type">PAIEMENT PAR CARTE      </div>
                                    <div id="libelleOperation" class="Operation-name">CONFISERIE</div>
                                </div>
                                <div id="montant" class="Operation-value Operation-value--negative" aria-label="moins 11,49 €">-11,49&nbsp;€</div> 
                            </a>
                        </li><li class="Operation js-Operation" id="operation-detail-1">
                            <a href="#None" class="Operation-header js-Operation-header">
                                <div id="dateOperation" class="Operation-date" data-format="OperationDateFormatter" aria-label="Mar 5, 2020 12:00:00 AM">05 Mars</div>
                                <div id="dateValeur" class="Operation-valueDate" data-format="OperationDateFormatter" aria-label="Mar 5, 2020 12:00:00 AM">05 Mars</div>
                                <div class="Operation-icon npc-transfer"></div>
                                <div class="Operation-main">
                                    <div class="Operation-type">VIREMENT EMIS           </div>
                                    <div id="libelleOperation" class="Operation-name">CROQUETTES DE CHIEN</div>
                                </div>
                                <div id="montant" class="Operation-value Operation-value--negative" aria-label="moins 16,64 €">-16,64&nbsp;€</div> 
                            </a>
                        </li></ul>

                        <a href="#" class="Operations-more js-Operations-more">Afficher plus d'opérations</a>
                </div>
            </div>
        </div>
    </div>
</div>

