<div class="col-xs-12 no-pad-lr"><label>Accès rapide à vos comptes</label></div>
<div class="col-xs-9  no-pad-lr">
      <br>
      &nbsp;
</div>

<table class="table">
      <caption>
            <span>
                  <b>


                        M.       Machin Bidule                                   

                  </b>
            </span>
            <span class="pull-right">Montant en Euros</span>
      </caption>

      <tbody>
            <tr>
                  <td>
                        <div class="col-xs-12 gras">
                              LIV A     




                              n°123456789




                        </div>
                        <div class="col-xs-12 avec-lignes no-pad-lr">
                              <div class="col-xs-6">
                                    Solde au 12/03/2020 : 
                              </div>
                              <div class="col-xs-6 cell-amount">
                                    12 345,67
                              </div>
                        </div>
                        <div class="col-xs-12 no-pad-lr">
                              <div class="col-xs-8">
                                    Intérêts du 01/01/2020 au 12/03/2020 : 
                              </div>
                              <div class="col-xs-4 cell-amount">
                                    3,14
                              </div>
                        </div>
                  </td>
            </tr>
      </tbody>
</table>

<table class="table">
      <caption>
            <div class="col-xs-6 no-pad-lr">HISTORIQUE <br class="visible-xs-block">DES OPERATIONS</div>
            <div class="col-xs-6 no-pad-lr text-right">Montant<br class="visible-xs-block"> en Euros</div>
      </caption>
      <tbody>
            <tr>
                  <td>
                        <div class="col-xs-12 avec-lignes no-pad-lr">
                              <div class="col-xs-3">31/12</div>
                              <div class="col-xs-5">
                                    Interets Crediteurs                 
                                    <br>
                                    De L'annee Taux  0,750%            


                              </div>
                              <div class="col-xs-4 cell-amount">123,45</div>
                        </div>

                        <div class="col-xs-12 avec-lignes no-pad-lr">
                              <div class="col-xs-3">30/12</div>
                              <div class="col-xs-5">
                                    Virement                           
                                    <br>
                                    Web Motif Virement         



                                    <br>
                                    30/12/2019

                              </div>
                              <div class="col-xs-4 cell-amount" data-negative="">
                                    -&nbsp;920,00
                              </div>
                        </div>

                        <div class="col-xs-12 avec-lignes no-pad-lr">
                              <div class="col-xs-3">01/12</div>
                              <div class="col-xs-5">
                                    Virement                            
                                    <br>
                                    Remboursement XY   


                              </div>
                              <div class="col-xs-4 cell-amount">150,00</div>
                        </div>

                        <div class="col-xs-12 avec-lignes no-pad-lr">
                              <div class="col-xs-3">16/10</div>
                              <div class="col-xs-5">
                                    Virement                           
                                    <br>
                                    Virement avec commentaire    



                                    <br>
                                    Commentaire

                                    <br>
                                    16/10/2019

                              </div>
                              <div class="col-xs-4 cell-amount" data-negative="">
                                    -&nbsp;150,00
                              </div>
                        </div>
                  </td>
            </tr>
      </tbody>
</table>
<br>
