    <div class="msl-flex msl-flex-col msl-w-full msl-max-w-[1200px] msl-m-auto msl-p-400">
      <app-home>
        <div class="msl-text-heading-xl msl-font-700 msl-mb-300"> Mon d&#xE9;tail de compte
</div>
        <div class="msl-mb-400"><app-account-info>
            <div>
              <mds-collapse>
                <span slot="title">
                  <div>
                    <div class="msl-text-body-xl msl-mb-100"> Livret A <!----><span> n&#xB0;123456789</span></div>
                    <div class="msl-text-body-l msl-font-500"> M.       MACHINE BIDULE </div>
                  </div>
                </span>
                <span slot="amount">
                  <div class="msl-items-baseline msl-flex msl-flex-col custom-bp">
                    <div class="msl-mb-100 msl-flex msl-justify-end msl-text-primary msl-text-heading-s">
                      <mds-amount> 12345.67 </mds-amount>
                    </div>
                    <div class="msl-flex msl-justify-end msl-text-grey-800 msl-text-body-m msl-font-500"> Solde au  31/03/2024 </div>
                  </div>
                </span>
                <div>
                  <div class="md:msl-flex md:msl-gap-400">
                    <div class="msl-w-full">
                      <app-amount>
                        <div class="msl-flex msl-justify-between msl-mb-100 msl-gap-200">
                          <div class="msl-max-w-1/2">Plafond</div>
                          <div class="msl-max-w-1/2 msl-text-primary msl-font-700">
                            <mds-amount> 22950 </mds-amount>
                          </div>
                        </div>
                      </app-amount>
                      <!---->
                      <!---->
                      <!---->
                      <!---->
                      <!---->
                      <!---->
                      <!---->
                      <app-date-range>
                        <div class="msl-flex msl-justify-between msl-mb-100 msl-gap-200">
                          <div class="msl-max-w-1/2"> Int&#xE9;r&#xEA;ts bruts (avant fiscalit&#xE9;) du 01/01/2024 au 15/03/2024 <!----></div>
                          <div class="msl-max-w-1/2 msl-text-primary msl-font-700">
                            <mds-amount> 107.28 </mds-amount>
                          </div>
                        </div>
                      </app-date-range>
                      <!---->
                      <!---->
                      <!---->
                      <!---->
                      <!---->
                      <!---->
                      <!---->
                      <app-rate>
                        <div class="msl-flex msl-justify-between msl-mb-100 msl-gap-200">
                          <div class="msl-max-w-1/2">Taux d'int&#xE9;r&#xEA;ts en cours</div>
                          <div class="msl-max-w-1/2 msl-text-primary msl-font-700 msl-text-right"> 3,00 % <!----></div>
                        </div>
                      </app-rate>
                      <!---->
                      <!---->
                      <!---->
                      <!---->
                      <!---->
                      <!---->
                      <!---->
                      <!---->
                      <!---->
                      <!---->
                    </div>
                    <!---->
                  </div>
                  <!---->
                </div>
              </mds-collapse>
            </div>
            <!---->
            <!---->
          </app-account-info></div>
        <div class="msl-text-heading-m msl-font-700 msl-mb-200"> Op&#xE9;rations
</div>
        <div class="msl-text-body-m msl-mb-300"> Visualisez vos op&#xE9;rations sur les 12 derniers mois. Pour les plus anciennes veuillez consulter votre relev&#xE9;.
</div>
        <div class="msl-text-body-l msl-font-700 msl-text-grey-600 msl-mb-200"> 31 mars 2024
</div>
        <!---->
        <div class="msl-mb-300">
          <app-operation>
            <div class="msl-flex msl-justify-between msl-items-center">
              <div class="msl-flex msl-items-center">
                <div class="msl-p-100 msl-mr-[12px] msl-rounded-100 msl-bg-purple-100">
                  <mds-icon name="chequebook" tint="var(--msl-accent-purple-700)" size="100" style="--mds-icon-color: var(--msl-accent-purple-700);"/>
                  <!---->
                  <!---->
                </div>
                <div>
                  <div>VIREMENT EN VOTRE FAVEUR Motif MACHINE BIDULE</div>
                  <div class="msl-text-body-m msl-font-400"> Motif                             </div>
                  <!---->
                  <!---->
                  <!---->
                </div>
              </div>
              <div class="msl-text-body-l msl-font-700 msl-pl-100 msl-pr-100 msl-bg-secondary-100 msl-text-primary">
                <mds-amount>500</mds-amount>
              </div>
            </div>
          </app-operation>
        </div>
        <div class="msl-text-body-l msl-font-700 msl-text-grey-600 msl-mb-200"> 08 janvier 2024
</div>
        <!---->
        <div class="msl-mb-300">
          <app-operation>
            <div class="msl-flex msl-justify-between msl-items-center">
              <div class="msl-flex msl-items-center">
                <div class="msl-p-100 msl-mr-[12px] msl-rounded-100 msl-bg-blue-100">
                  <mds-icon name="direct_debit" tint="var(--msl-accent-blue-700)" size="100" style="--mds-icon-color: var(--msl-accent-blue-700);"/>
                  <!---->
                  <!---->
                </div>
                <div>
                  <div>VIREMENT EMIS WEB TOTO TUTU VIREMEN</div>
                  <div class="msl-text-body-m msl-font-400"> Virement Motif          </div>
                  <!---->
                  <!---->
                  <!---->
                </div>
              </div>
              <div class="msl-text-body-l msl-font-700 msl-pl-100 msl-pr-100">
                <mds-amount>-1000</mds-amount>
              </div>
            </div>
          </app-operation>
        </div>
        <div class="msl-text-body-l msl-font-700 msl-text-grey-600 msl-mb-200"> 29 d&#xE9;cembre 2023
</div>
        <!---->
        <div class="msl-mb-100">
          <app-operation>
            <div class="msl-flex msl-justify-between msl-items-center">
              <div class="msl-flex msl-items-center">
                <div class="msl-p-100 msl-mr-[12px] msl-rounded-100 msl-bg-purple-100">
                  <mds-icon name="chequebook" tint="var(--msl-accent-purple-700)" size="100" style="--mds-icon-color: var(--msl-accent-purple-700);"/>
                  <!---->
                  <!---->
                </div>
                <div>
                  <div>INTERETS CREDITEURS DE L'ANNEE TAUX  112,000%</div>
                  <!---->
                  <!---->
                  <!---->
                </div>
              </div>
              <div class="msl-text-body-l msl-font-700 msl-pl-100 msl-pr-100 msl-bg-secondary-100 msl-text-primary">
                <mds-amount>1038.03</mds-amount>
              </div>
            </div>
          </app-operation>
        </div>
        <!---->
        <div class="msl-mb-300">
          <app-operation>
            <div class="msl-flex msl-justify-between msl-items-center">
              <div class="msl-flex msl-items-center">
                <div class="msl-p-100 msl-mr-[12px] msl-rounded-100 msl-bg-purple-100">
                  <mds-icon name="chequebook" tint="var(--msl-accent-purple-700)" size="100" style="--mds-icon-color: var(--msl-accent-purple-700);"/>
                  <!---->
                  <!---->
                </div>
                <div>
                  <div>INTERETS CREDITEURS DE L'ANNEE TAUX  35,000%</div>
                  <!---->
                  <!---->
                  <!---->
                </div>
              </div>
              <div class="msl-text-body-l msl-font-700 msl-pl-100 msl-pr-100 msl-bg-secondary-100 msl-text-primary">
                <mds-amount>3102.41</mds-amount>
              </div>
            </div>
          </app-operation>
        </div>
        <div class="msl-flex msl-flex-col msl-mt-400 msl-items-center">
          <div class="msl-flex msl-mb-200">
            <div class="msl-p-100 msl-rounded-100 msl-bg-blue-100">
              <mds-icon name="time" tint="var(--msl-accent-blue-700)" size="100" style="--mds-icon-color: var(--msl-accent-blue-700);"/>
            </div>
          </div>
          <div class="msl-flex msl-text-body-l msl-font-[600] msl-text-center"> On ne peut pas remonter plus loin (dans le temps) </div>
        </div>
        <!---->
        <!---->
        <!---->
        <!---->
        <!---->
        <!---->
        <!---->
        <!---->
      </app-home>
      <!---->
      <div class="msl-mb-800"/>
