<?xml version="1.0"?>
<body class="msl-crunchy-particulier-theme">
  <app-root _nghost-ndv-c12="" ng-version="13.3.11">
    <div _ngcontent-ndv-c12="" class="msl-padding-inset-l">
      <router-outlet _ngcontent-ndv-c12=""/>
      <app-ui-account-details _nghost-ndv-c43="">
        <div _ngcontent-ndv-c43="" class="msl-padding-stack-l">
          <msl-crunchy-breadcrumb _ngcontent-ndv-c43="" _nghost-ndv-c20="">
            <nav _ngcontent-ndv-c20="" class="msl-crunchy-breadcrumb">
              <msl-crunchy-link _ngcontent-ndv-c20="" class="msl-margin-inline-xs msl-crunchy-breadcrumb-item" _nghost-ndv-c18="">
                <button _ngcontent-ndv-c18="" type="button" class="button-link msl-crunchy-link"><!---->Ma synth&#xE8;se <!----></button>
                <!---->
                <!---->
                <!---->
              </msl-crunchy-link>
              <!---->
              <!---->
              <!---->
              <div _ngcontent-ndv-c20="" aria-hidden="true" class="msl-margin-inline-xs">
                <msl-icon _ngcontent-ndv-c20="" name="ic_chevron_right" icon_color="#ccc" _nghost-ndv-c13="">
                  <div _ngcontent-ndv-c13="" style="width: 16px; height: 16px;" aria-hidden="true">
                    <svg xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24">
                      <path d="M15.2 11.8c.4.4.4 1 0 1.4l-5 5a1 1 0 0 1-1.4-1.5l4.3-4.2-4.3-4.3a1 1 0 1 1 1.4-1.4l5 5Z" fill="currentColor" class="fill-color" fill-rule="evenodd" style="fill: rgb(204, 204, 204);"/>
                    </svg>
                  </div>
                </msl-icon>
              </div>
              <!---->
              <!---->
              <!---->
              <!---->
              <!---->
              <!---->
              <div _ngcontent-ndv-c20="" tabindex="0" class="active-item msl-crunchy-breadcrumb-item" aria-current=""> Detail Epargne </div>
              <!---->
              <!---->
              <!---->
              <!---->
              <!---->
              <!---->
            </nav>
          </msl-crunchy-breadcrumb>
        </div>
        <app-ui-account-details-pay-info _ngcontent-ndv-c43="" _nghost-ndv-c38="" class="ng-star-inserted">
          <div _ngcontent-ndv-c38="" class="msl-padding-stack-m">
            <label _ngcontent-ndv-c38="" class="msl-color-grey-800 msl-heading-xl msl-font-weight-xxl"> Mon d&#xE9;tail de compte </label>
          </div>
          <div _ngcontent-ndv-c38="">
            <msl-collapse-container _ngcontent-ndv-c38="">
              <!---->
              <msl-crunchy-collapse class="ng-star-inserted">
                <div class="msl-crunchy-collapse-container">
                  <msl-collapse-item _ngcontent-ndv-c38="" _nghost-ndv-c26="" class="ng-tns-c26-0 ng-star-inserted">
                    <!---->
                    <!---->
                    <div _ngcontent-ndv-c26="" class="ng-tns-c26-0 ng-star-inserted">
                      <msl-crunchy-collapse-item _ngcontent-ndv-c26="" class="ng-tns-c26-0" _nghost-ndv-c22="">
                        <div _ngcontent-ndv-c22="" class="msl-crunchy-collapse-item">
                          <div _ngcontent-ndv-c22="" class="msl-crunchy-item-header">
                            <msl-collapse-header _ngcontent-ndv-c38="" type="large" _nghost-ndv-c27="" class="ng-tns-c26-0 ng-star-inserted">
                              <!---->
                              <msl-crunchy-collapse-header _ngcontent-ndv-c27="" _nghost-ndv-c23="" class="ng-star-inserted">
                                <div _ngcontent-ndv-c23="" class="msl-crunchy-collapse-header ng-star-inserted">
                                  <button _ngcontent-ndv-c23="" class="msl-crunchy-collapse-header-content">
                                    <div _ngcontent-ndv-c23="" class="msl-crunchy-collapse-header-content-title">
                                      <span class="collapse-title">M.       MACHIN BIDULE</span>
                                      <div class="collapse-sub-titles">
                                        <span class="sub-title-product">Livret A</span>
                                        <span class="sub-title-account">n&#xB0;123456789</span>
                                      </div>
                                    </div>
                                    <div _ngcontent-ndv-c23="" class="right-content">
                                      <div _ngcontent-ndv-c23="" class="msl-crunchy-collapse-header-amount ng-star-inserted">
                                        <span class="collapse-amount">12&#x202F;345,67 &#x20AC;</span>
                                        <span class="collapse-date-effet">Solde au 09/05/2023</span>
                                      </div>
                                      <!---->
                                      <div _ngcontent-ndv-c23="" class="msl-crunchy-collapse-header-content-icon svg-content">
                                        <div _ngcontent-ndv-c23="" class="svg-content">
                                          <msl-icon _ngcontent-ndv-c23="" _nghost-ndv-c13="">
                                            <div _ngcontent-ndv-c13="" style="width: 24px; height: 24px;" aria-hidden="true">
                                              <svg xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24">
                                                <path d="M12.7 15.7a1 1 0 0 1-1.4 0l-5-5a1 1 0 0 1 1.5-1.4l4.2 4.2 4.2-4.2a1 1 0 1 1 1.5 1.4l-5 5Z" fill="currentColor" class="fill-color" fill-rule="evenodd" style="fill: var(--msl-crunchy-color-secondary-3);"/>
                                              </svg>
                                            </div>
                                          </msl-icon>
                                        </div>
                                      </div>
                                    </div>
                                  </button>
                                </div>
                                <!---->
                              </msl-crunchy-collapse-header>
                              <!---->
                              <!---->
                            </msl-collapse-header>
                            <!---->
                            <!---->
                          </div>
                          <!---->
                        </div>
                      </msl-crunchy-collapse-item>
                    </div>
                    <!---->
                    <!---->
                  </msl-collapse-item>
                  <!---->
                </div>
              </msl-crunchy-collapse>
              <!---->
              <!---->
            </msl-collapse-container>
            <msl-row _ngcontent-ndv-c38="" msljustifycontent="right" _nghost-ndv-c19="" style="flex-wrap: initial; place-content: initial; align-items: initial;">
              <div _ngcontent-ndv-c38="" class="msl-margin-stack-m msl-color-grey-800 msl-font-size-xl msl-font-weight-l">Op&#xE9;rations</div>
            </msl-row>
          </div>
          <!---->
          <!---->
        </app-ui-account-details-pay-info>
        <!---->
        <app-ui-account-details-operations-history _ngcontent-ndv-c43="" _nghost-ndv-c42="" class="ng-star-inserted">
          <div _ngcontent-ndv-c42="" class="ui-account-details-operations-history">
            <div _ngcontent-ndv-c42="">
              <msl-row _ngcontent-ndv-c42="" class="ui-account-details-operations-history-header msl-color-grey-0 msl-padding-inset-m" _nghost-ndv-c19="" style="flex-wrap: initial; place-content: initial; align-items: initial;">
                <msl-flex _ngcontent-ndv-c42="" msljustifycontent="space-between" mslalignitems="center" class="msl-col-12" _nghost-ndv-c14="" style="flex-wrap: initial; justify-content: space-between; align-items: center; align-content: initial;">
                  <msl-flex _ngcontent-ndv-c42="" mslalignitems="center" _nghost-ndv-c14="" style="flex-wrap: initial; place-content: initial; align-items: center;">
                    <span _ngcontent-ndv-c42="" class="msl-padding-inline-perso-xxs msl-color-primary msl-font-weight-m msl-font-size-s">Date</span>
                    <msl-column _ngcontent-ndv-c42="" class="ui-sort-icons ng-star-inserted" _nghost-ndv-c39="" style="flex-wrap: initial; place-content: initial; align-items: initial;">
                      <msl-flex _ngcontent-ndv-c42="" msldirection="column" _nghost-ndv-c14="" style="flex-wrap: initial; place-content: initial; align-items: initial;" class="msl-direction-column">
                        <!---->
                        <msl-icon _ngcontent-ndv-c42="" name="ic_arrow_down" icon_color="primary" width="13" height="13" _nghost-ndv-c13="" class="ng-star-inserted">
                          <div _ngcontent-ndv-c13="" style="width: 13px; height: 13px;" aria-hidden="true">
                            <svg xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24">
                              <path d="M12.7 15.7a1 1 0 0 1-1.4 0l-5-5a1 1 0 0 1 1.5-1.4l4.2 4.2 4.2-4.2a1 1 0 1 1 1.5 1.4l-5 5Z" fill="currentColor" class="fill-color" fill-rule="evenodd" style="fill: var(--msl-color-primary);"/>
                            </svg>
                          </div>
                        </msl-icon>
                        <!---->
                      </msl-flex>
                    </msl-column>
                    <!---->
                  </msl-flex>
                  <msl-flex _ngcontent-ndv-c42="" mslalignitems="center" _nghost-ndv-c14="" style="flex-wrap: initial; place-content: initial; align-items: center;">
                    <span _ngcontent-ndv-c42="" class="msl-padding-inline-perso-xxs msl-color-primary msl-font-weight-m msl-font-size-s">Montant </span>
                    <msl-column _ngcontent-ndv-c42="" class="ui-sort-icons ng-star-inserted" _nghost-ndv-c39="" style="flex-wrap: initial; place-content: initial; align-items: initial;">
                      <msl-flex _ngcontent-ndv-c42="" msldirection="column" _nghost-ndv-c14="" style="flex-wrap: initial; place-content: initial; align-items: initial;" class="msl-direction-column">
                        <!---->
                        <msl-icon _ngcontent-ndv-c42="" name="ic_arrow_down" icon_color="primary" width="13" height="13" _nghost-ndv-c13="" class="ng-star-inserted">
                          <div _ngcontent-ndv-c13="" style="width: 13px; height: 13px;" aria-hidden="true">
                            <svg xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24">
                              <path d="M12.7 15.7a1 1 0 0 1-1.4 0l-5-5a1 1 0 0 1 1.5-1.4l4.2 4.2 4.2-4.2a1 1 0 1 1 1.5 1.4l-5 5Z" fill="currentColor" class="fill-color" fill-rule="evenodd" style="fill: var(--msl-color-primary);"/>
                            </svg>
                          </div>
                        </msl-icon>
                        <!---->
                      </msl-flex>
                    </msl-column>
                    <!---->
                  </msl-flex>
                </msl-flex>
              </msl-row>
            </div>
            <!---->
            <!---->
            <app-ui-operations-list _ngcontent-ndv-c42="" _nghost-ndv-c40="" class="ng-star-inserted">
              <msl-row _ngcontent-ndv-c40="" msljustifycontent="space-between" class="ui-operations-history-row" _nghost-ndv-c19="" style="flex-wrap: initial; justify-content: space-between; align-items: initial; align-content: initial;">
                <msl-column _ngcontent-ndv-c40="" mslbasis="30%" _nghost-ndv-c39="" style="flex-wrap: initial; place-content: initial; align-items: initial; flex-basis: 30%;">
                  <msl-flex _ngcontent-ndv-c40="" msljustifycontent="space-between" mslalignitems="center" _nghost-ndv-c14="" style="flex-wrap: initial; justify-content: space-between; align-items: center; align-content: initial;">
                    <span _ngcontent-ndv-c40="" class="msl-color-grey-800 msl-font-size-s msl-font-weight-s">5 mai 2023 </span>
                    <msl-icon _ngcontent-ndv-c40="" name="ic_transfer" icon_color="secondary-3" width="12.71" height="13.33" class="msl-padding-inline-xs" _nghost-ndv-c13="">
                      <div _ngcontent-ndv-c13="" style="width: 12.71px; height: 13.33px;" aria-hidden="true">
                        <svg xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24">
                          <path d="M18 12.7h.2l3.5 3.6c.4.3.4.9 0 1.3l-3.5 3.6a1 1 0 0 1-1.5-1.3l1.9-1.9H3a1 1 0 0 1-1-.9V17c0-.5.4-1 .9-1h15.7l-1.8-1.8a1 1 0 0 1-.1-1.4 1 1 0 0 1 1.4-.1Zm-7.8-10c.4.4.4 1 0 1.5L8.4 6H19a1 1 0 0 1 0 2H8.4l1.8 1.8a1 1 0 1 1-1.4 1.4L5.3 7.7a1 1 0 0 1 0-1.4l3.5-3.6a1 1 0 0 1 1.4 0Z" fill="currentColor" class="fill-color" fill-rule="evenodd" style="fill: var(--msl-color-secondary-3);"/>
                        </svg>
                      </div>
                    </msl-icon>
                  </msl-flex>
                </msl-column>
                <msl-column _ngcontent-ndv-c40="" mslbasis="50%" _nghost-ndv-c39="" style="flex-wrap: initial; place-content: initial; align-items: initial; flex-basis: 50%;">
                  <msl-flex _ngcontent-ndv-c40="" _nghost-ndv-c14="" style="flex-wrap: initial; place-content: initial; align-items: initial;">
                    <span _ngcontent-ndv-c40="" class="libelle-opetation msl-color-grey-800 msl-font-size-s msl-font-weight-m">VIREMENT EMIS WEB MACHIN BIDULE Motif</span>
                  </msl-flex>
                </msl-column>
                <msl-column _ngcontent-ndv-c40="" mslbasis="20%" mslalignitems="flex-end" _nghost-ndv-c39="" style="flex-wrap: initial; place-content: initial; align-items: flex-end; flex-basis: 20%;">
                  <msl-flex _ngcontent-ndv-c40="" _nghost-ndv-c14="" style="flex-wrap: initial; place-content: initial; align-items: initial;">
                    <span _ngcontent-ndv-c40="" class="no-margin msl-font-weight-m grey-650">- 500,00  &#x20AC;</span>
                  </msl-flex>
                </msl-column>
              </msl-row>
            </app-ui-operations-list>
            <!---->
            <app-ui-operations-list _ngcontent-ndv-c42="" _nghost-ndv-c40="" class="ng-star-inserted">
              <msl-row _ngcontent-ndv-c40="" msljustifycontent="space-between" class="ui-operations-history-row" _nghost-ndv-c19="" style="flex-wrap: initial; justify-content: space-between; align-items: initial; align-content: initial;">
                <msl-column _ngcontent-ndv-c40="" mslbasis="30%" _nghost-ndv-c39="" style="flex-wrap: initial; place-content: initial; align-items: initial; flex-basis: 30%;">
                  <msl-flex _ngcontent-ndv-c40="" msljustifycontent="space-between" mslalignitems="center" _nghost-ndv-c14="" style="flex-wrap: initial; justify-content: space-between; align-items: center; align-content: initial;">
                    <span _ngcontent-ndv-c40="" class="msl-color-grey-800 msl-font-size-s msl-font-weight-s">13 avril 2023 </span>
                    <msl-icon _ngcontent-ndv-c40="" name="ic_transfer" icon_color="secondary-3" width="12.71" height="13.33" class="msl-padding-inline-xs" _nghost-ndv-c13="">
                      <div _ngcontent-ndv-c13="" style="width: 12.71px; height: 13.33px;" aria-hidden="true">
                        <svg xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24">
                          <path d="M18 12.7h.2l3.5 3.6c.4.3.4.9 0 1.3l-3.5 3.6a1 1 0 0 1-1.5-1.3l1.9-1.9H3a1 1 0 0 1-1-.9V17c0-.5.4-1 .9-1h15.7l-1.8-1.8a1 1 0 0 1-.1-1.4 1 1 0 0 1 1.4-.1Zm-7.8-10c.4.4.4 1 0 1.5L8.4 6H19a1 1 0 0 1 0 2H8.4l1.8 1.8a1 1 0 1 1-1.4 1.4L5.3 7.7a1 1 0 0 1 0-1.4l3.5-3.6a1 1 0 0 1 1.4 0Z" fill="currentColor" class="fill-color" fill-rule="evenodd" style="fill: var(--msl-color-secondary-3);"/>
                        </svg>
                      </div>
                    </msl-icon>
                  </msl-flex>
                </msl-column>
                <msl-column _ngcontent-ndv-c40="" mslbasis="50%" _nghost-ndv-c39="" style="flex-wrap: initial; place-content: initial; align-items: initial; flex-basis: 50%;">
                  <msl-flex _ngcontent-ndv-c40="" _nghost-ndv-c14="" style="flex-wrap: initial; place-content: initial; align-items: initial;">
                    <span _ngcontent-ndv-c40="" class="libelle-opetation msl-color-grey-800 msl-font-size-s msl-font-weight-m">VIREMENT EN VOTRE FAVEUR Motif MACHINE BIDULE</span>
                  </msl-flex>
                </msl-column>
                <msl-column _ngcontent-ndv-c40="" mslbasis="20%" mslalignitems="flex-end" _nghost-ndv-c39="" style="flex-wrap: initial; place-content: initial; align-items: flex-end; flex-basis: 20%;">
                  <msl-flex _ngcontent-ndv-c40="" _nghost-ndv-c14="" style="flex-wrap: initial; place-content: initial; align-items: initial;">
                    <span _ngcontent-ndv-c40="" class="no-margin msl-font-weight-m msl-color-secondary-1">+ 1&#x202F;000,00  &#x20AC;</span>
                  </msl-flex>
                </msl-column>
              </msl-row>
            </app-ui-operations-list>
            <!---->
            <app-ui-operations-list _ngcontent-ndv-c42="" _nghost-ndv-c40="" class="ng-star-inserted">
              <msl-row _ngcontent-ndv-c40="" msljustifycontent="space-between" class="ui-operations-history-row" _nghost-ndv-c19="" style="flex-wrap: initial; justify-content: space-between; align-items: initial; align-content: initial;">
                <msl-column _ngcontent-ndv-c40="" mslbasis="30%" _nghost-ndv-c39="" style="flex-wrap: initial; place-content: initial; align-items: initial; flex-basis: 30%;">
                  <msl-flex _ngcontent-ndv-c40="" msljustifycontent="space-between" mslalignitems="center" _nghost-ndv-c14="" style="flex-wrap: initial; justify-content: space-between; align-items: center; align-content: initial;">
                    <span _ngcontent-ndv-c40="" class="msl-color-grey-800 msl-font-size-s msl-font-weight-s">30 d&#xE9;cembre 2022 </span>
                    <msl-icon _ngcontent-ndv-c40="" name="ic_transfer" icon_color="secondary-3" width="12.71" height="13.33" class="msl-padding-inline-xs" _nghost-ndv-c13="">
                      <div _ngcontent-ndv-c13="" style="width: 12.71px; height: 13.33px;" aria-hidden="true">
                        <svg xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24">
                          <path d="M18 12.7h.2l3.5 3.6c.4.3.4.9 0 1.3l-3.5 3.6a1 1 0 0 1-1.5-1.3l1.9-1.9H3a1 1 0 0 1-1-.9V17c0-.5.4-1 .9-1h15.7l-1.8-1.8a1 1 0 0 1-.1-1.4 1 1 0 0 1 1.4-.1Zm-7.8-10c.4.4.4 1 0 1.5L8.4 6H19a1 1 0 0 1 0 2H8.4l1.8 1.8a1 1 0 1 1-1.4 1.4L5.3 7.7a1 1 0 0 1 0-1.4l3.5-3.6a1 1 0 0 1 1.4 0Z" fill="currentColor" class="fill-color" fill-rule="evenodd" style="fill: var(--msl-color-secondary-3);"/>
                        </svg>
                      </div>
                    </msl-icon>
                  </msl-flex>
                </msl-column>
                <msl-column _ngcontent-ndv-c40="" mslbasis="50%" _nghost-ndv-c39="" style="flex-wrap: initial; place-content: initial; align-items: initial; flex-basis: 50%;">
                  <msl-flex _ngcontent-ndv-c40="" _nghost-ndv-c14="" style="flex-wrap: initial; place-content: initial; align-items: initial;">
                    <span _ngcontent-ndv-c40="" class="libelle-opetation msl-color-grey-800 msl-font-size-s msl-font-weight-m">INTERETS CREDITEURS DE L'ANNEE TAUX  0,500%</span>
                  </msl-flex>
                </msl-column>
                <msl-column _ngcontent-ndv-c40="" mslbasis="20%" mslalignitems="flex-end" _nghost-ndv-c39="" style="flex-wrap: initial; place-content: initial; align-items: flex-end; flex-basis: 20%;">
                  <msl-flex _ngcontent-ndv-c40="" _nghost-ndv-c14="" style="flex-wrap: initial; place-content: initial; align-items: initial;">
                    <span _ngcontent-ndv-c40="" class="no-margin msl-font-weight-m msl-color-secondary-1">+ 1,23  &#x20AC;</span>
                  </msl-flex>
                </msl-column>
              </msl-row>
            </app-ui-operations-list>
            <!---->
            <!---->
            <!---->
            <!---->
          </div>
        </app-ui-account-details-operations-history>
        <!---->
      </app-ui-account-details>
      <!---->
    </div>
  </app-root>
  <script src="runtime.bbd5df6211559f32.js" type="module"/>
  <script src="polyfills.094bf4052453dca6.js" type="module"/>
  <script src="main.856578bc4e495d68.js" type="module"/>
  <div style="clear: both; display: block;"/>
</body>
