{% load display_amount %}

<div class="progress" data-toggle="tooltip" data-placement="top" data-html="true" title="{% display_amount balance %} / {% display_amount balance_limit %}">
    <div class="progress-bar" role="progressbar" style="width: {{ bar_width|floatformat }}%" aria-valuenow="{{ occupancy|floatformat }}" aria-valuemin="0" aria-valuemax="100">
        {{ occupancy|floatformat }} %
    </div>
</div>
