{% if indexes|length > 1 %}
    <ul class="pagination justify-content-center pagination-sm">
        {% if current_index > 1 %}
            <li class="page-item">
                <a class="page-link" href="?page={{ current_index|add:-1 }}{{ hashtag }}">
                    <span class="fa fa-chevron-left"></span>
                </a>
            </li>
        {% endif %}

        {% for i in indexes %}
            {% if i == current_index %}
                <li class="active page-item">
                    <span class="page-link">{{ i }} <span class="sr-only">(current)</span></span>
                </li>
            {% elif i is None %}
                <li class="page-item disabled">
                    <span class="page-link">...</span>
                </li>
            {% else %}
                <li class="page-item">
                    <a class="page-link" href="?page={{ i }}{{ hashtag }}">{{ i }}</a>
                </li>
            {% endif %}
        {% endfor %}

        {% if current_index < indexes|last %}
            <li class="page-item">
                <a class="page-link" href="?page={{ current_index|add:1 }}{{ hashtag }}">
                    <span class="fa fa-chevron-right"></span>
                </a>
            </li>
        {% endif %}
    </ul>
{% endif %}
