{% load i18n %}

<div class="row">
    <div class="col-sm">
        {% if graph_balance_evolution|length > 0 %}
            <canvas
                class="graph_balance_evolution"
                data-x="{% for x in graph_balance_evolution %}{{ x.period }}{% if not forloop.last %};{% endif %}{% endfor %}"
                data-y="[{% for y in graph_balance_evolution %}{{ y.balance }}{% if not forloop.last %}, {% endif %}{% endfor %}]"
                data-line="[{% for y in graph_balance_evolution %}{{ y.global_balance }}{% if not forloop.last %}, {% endif %}{% endfor %}]"
                data-balance-limit="{% if display_balance_limit %}{{ account.balance_limit }}{% else %}null{% endif %}"
            ></canvas>
        {% else %}
            <div class="alert alert-secondary" role="alert">
                <i class="fa fa-info-circle"></i> {% trans "No bank operation to plot." %}
            </div>
        {% endif %}
    </div>
</div>
