{% extends "base.html" %}

{% load i18n %}

{% block breadcumb %}
{{ block.super }}
<li class="breadcrumb-item active">{% trans "Allow Import from Bank Website" %}</li>
{% endblock %}

{% block content %}
<div class="row">
    <div class="col-sm">
        <h1>{% trans "Allow Import from Bank Website" %}</h1>
    </div>
</div>


<div class="row">
    <div class="col-sm">
        {% if present_accounts %}
            <div class="d-none">
                <p>Key is <b id="money_allow_import_key">{{ key }}</b></p>
                <p>URL is <b id="money_allow_import_url">{{ request.scheme }}://{{ request.get_host }}{% url 'import_web_bank_import_from_bank' %}</b></p>
            </div>

            <p>You have now 2 minutes to import data from bank website.</p>

            <p id="money_allow_import_fetch_key_try">
                <i class="fas fa-circle-notch fa-spin"></i>
                {% blocktrans %}
                The extension will take the token... If this message doesn't disappear, maybe the
                <a target="blank" href="{{ browser_extension_url }}">browser extension</a> is not installed ?
                {% endblocktrans %}
            </p>

            <p class="d-none" id="money_allow_import_fetch_key_success">
                <i class="text-success fas fa-check"></i>
                {% trans "The extension took the token." %}
            </p>

            <div class="progress">
                <div class="progress-bar" role="progressbar" aria-valuenow="{{ app.import_time_limit }}" aria-valuemin="0" aria-valuemax="{{ app.import_time_limit }}" style="width: 100%"></div>
            </div>

            <div id="timeout" class="d-none">
                <i class="fa fa-exclamation-triangle"></i>
                {% trans "Import not allowed anymore." %}
                <a href="{% url 'import_web_bank_allow' %}" class="btn btn-primary btn-sm">
                    <i class="fa fa-sync-alt"></i> {% trans "Reload" %}
                </a>
            </div>

            <br>

            <h3>Imported accounts</h3>
            <ul id="imported_account_list">
                {% for account in request.session.imported_accounts %}
                <li><a href="{{ account.url }}">{{ account.title }}</a></li>
                {% endfor %}
            </ul>
        {% else %}
            <div class="alert alert-warning">
                {% url 'accounts_add' as url_create %}
                {% blocktranslate %}
                No bank account is registered in the application. You have to
                <a href="{{ url_create }}">create one</a> before being able to
                import from your bank website.
                {% endblocktranslate %}
            </div>
        {% endif %}
    </div>
</div>
{% endblock %}

{% block scripts %}
{{ block.super }}
{% if present_accounts %}
<script>
$(function () {
    var imported_accounts_timer = setInterval(function() {
        $.getJSON("{% url 'import_web_bank_imported_accounts' %}", function(result) {
            $('#imported_account_list').empty();

            for(var i = 0; i < result.length; i++) {
                $('#imported_account_list').append('<li><a href="' + result[i].url + '#tab_tables">' + result[i].title + '</a></li>');
            }
        });
    }, 3000);

    var start_time = new Date();

    var timeout_timer = setInterval(function() {
        var now = new Date();
        var elapsed_time = (now - start_time) / 1000;
        var percent = (({{ app.import_time_limit }} - elapsed_time) / {{ app.import_time_limit }}) * 100;
        if (percent < 1) {
            $('.progress').hide();
            $('#timeout').removeClass('d-none');
            clearInterval(timeout_timer);
            clearInterval(imported_accounts_timer);
        }
        else {
            $('.progress-bar').css("width", percent + "%");
        }
    }, 200);
});
</script>
{% endif %}
{% endblock %}
