<!doctype html>

{% load i18n %}
{% load static %}
{% load git_version %}
{% load cache %}

<html lang="en">
    <head>
        <title>Money</title>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
        <link rel="stylesheet" href="{% static "bootstrap/dist/css/bootstrap.min.css" %}">
        <link rel="stylesheet" href="{% static "bootstrap-datepicker/dist/css/bootstrap-datepicker3.min.css" %}">
        <link rel="stylesheet" href="{% static "@fortawesome/fontawesome-free/css/all.min.css" %}">
        <link rel="stylesheet" href="{% static "sweetalert2/dist/sweetalert2.min.css" %}">
        <link rel="stylesheet" href="{% static "select2/dist/css/select2.min.css" %}">
        <style>
        .popover {
            max-width: 300px;
        }
        </style>
    </head>
    <body class="container-fluid">
        <nav class="navbar navbar-expand-lg navbar-light bg-light">
            <a class="navbar-brand" href="{% url 'homepage' %}">{% trans "Money" %}</a>
            <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
                <span class="navbar-toggler-icon"></span>
            </button>

            <div class="collapse navbar-collapse" id="navbarSupportedContent">
                <ul class="navbar-nav mr-auto">
                    <li class="nav-item">
                        <a class="nav-link {% if '/accounts' in request.path or request.resolver_match.url_name == "homepage"  %}active{% endif %}" href="{% url 'accounts_index' %}">
                            <i class="fas fa-landmark"></i>
                            {% trans "Accounts" %}
                        </a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link {% if '/categories' in request.path %}active{% endif %}" href="{% url 'categories_index' %}">
                            <i class="fas fa-tags"></i>
                            {% trans "Categories" %}
                        </a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link {% if '/import_web_bank/allow' in request.path %}active{% endif %}" href="{% url 'import_web_bank_allow' %}">
                            <i class="fas fa-upload"></i>
                            {% trans "Allow import" %}
                            {% if 'import_remaining_seconds' in request.session  and '/import_web_bank/allow' not in request.path %}
                            <div id="allowed_import_spinner" data-timeout="{{ request.session.import_remaining_seconds }}" class="spinner-grow spinner-grow-sm text-primary d-none"></div>
                            {% endif %}
                        </a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link {% if '/operations/search' in request.path %}active{% endif %}" href="{% url 'operations_search' %}">
                            <i class="fas fa-search"></i>
                            {% trans "Search" %}
                        </a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link {% if '/operation_templates' in request.path %}active{% endif %}" href="{% url 'operation_templates_index' %}">
                            <i class="fa fa-ruler-combined"></i>
                            {% trans "Operation templates" %}
                        </a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link {% if '/stats' in request.path and '/accounts' not in request.path %}active{% endif %}" href="{% url 'stats' %}">
                            <i class="fas fa-percentage"></i>
                            {% trans "Statistics" %}
                        </a>
                    </li>
                </ul>
                <ul class="navbar-nav">
                    <li class="nav-item">
                        <a class="nav-link" href="{% url 'admin:index' %}">
                            <i class="fas fa-tools"></i>
                            {% trans "Administration" %}
                        </a>
                    </li>
                </ul>
            </div>
        </nav>

        <br>

        <nav aria-label="breadcrumb">
            <ol class="breadcrumb">
                {% block breadcumb %}
                {% endblock %}
            </ol>
        </nav>

        {% if messages %}
            {% for message in messages %}
                <div class="alert{% if message.tags %} alert-{{ message.tags }}{% endif %}" role="alert">
                    {{ message }}

                    <button type="button" class="close" data-dismiss="alert" aria-label="Close">
                        <span aria-hidden="true">&times;</span>
                    </button>
                </div>
            {% endfor %}
        {% endif %}

        {% if not hide_toast %}
        <!-- On the page listing operations in an account, the table header has a z-index of 1021. -->
        <div role="alert" aria-live="assertive" aria-atomic="true" id="import-toast" class="toast list-group position-fixed" style="z-index: -1; bottom: 10px; right: 10px;" data-autohide="false" data-animation="false">
            <div class="list-group-item toast-header">
                <strong class="mr-auto">Imported accounts</strong>
                <form class="d-none" action="{% url 'import_web_bank_delete_all_imported_accounts' %}" method="post">
                    {% csrf_token %}
                </form>
                <a href="#" id="toast-delete-all-imported-accounts" class="ml-2">
                    <i class="fas fa-times-circle"></i>
                    <div class="spinner-border spinner-border-sm d-none"></div>
                </a>
            </div>

            {% for account in request.session.imported_accounts %}
            <div class="list-group-item d-flex justify-content-between align-items-center {% if '/accounts' in request.path and account.pk in request.path %}list-group-item-secondary{% endif %}">
                <form class="d-none" action="{% url 'import_web_bank_delete_imported_account' account.pk %}" method="post">
                    {% csrf_token %}
                </form>
                <a class="mr-4" href="{{ account.url }}">{{ account.title }}</a>
                <a href="#" class="toast-delete-imported-account">
                    <i class="fas fa-times-circle"></i>
                    <div class="spinner-border spinner-border-sm d-none"></div>
                </a>
            </div>
            {% endfor %}
        </div>
        {% endif %}

        <div role="alert" aria-live="assertive" aria-atomic="true" id="calculator-toast" class="toast position-fixed" style="z-index: -1; bottom: 10px; left: 10px;" data-autohide="false" data-animation="false">
            <div class="toast-header">
                <i class="fas fa-calculator mr-2"></i>
                <strong class="mr-auto">Calculator</strong>
                <button type="button" class="ml-2 mb-1 close" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
            </div>
            <div class="toast-body">
                <dl class="row">
                    <dt class="col-sm-8">{% trans "Number of selected amounts:" %}</dt>
                    <dd class="col-sm-4 text-right" id="calculator-nb-items"></dd>

                    <dt class="col-sm-8">{% trans "Sum:" %}</dt>
                    <dd class="col-sm-4 text-right" id="calculator-sum"></dd>

                    <dt class="col-sm-8">{% trans "Average:" %}</dt>
                    <dd class="col-sm-4 text-right" id="calculator-avg"></dd>
                </dl>
            </div>
        </div>

        {% block content %}
        {% endblock %}

        <footer class="text-center text-muted">
            <br>
            <small>
                <a href="{{ git_repository }}">Money</a>
                {% cache None footer %}
                {% if app.site_name is not None %}
                    <b>{{ app.site_name }}</b>
                {% endif %}
                {% git_version %}
                {% endcache %}
            </small>
            <br>
            <br>
        </footer>

        <script src="{% static "jquery/dist/jquery.min.js" %}"></script>
        <script src="{% static "popper.js/dist/umd/popper.min.js" %}"></script>
        <script src="{% static "bootstrap/dist/js/bootstrap.min.js" %}"></script>
        <script src="{% static "sweetalert2/dist/sweetalert2.min.js" %}"></script>
        <script src="{% static "select2/dist/js/select2.min.js" %}"></script>
        <script src="{% static "bootstrap-datepicker/dist/js/bootstrap-datepicker.min.js" %}"></script>
        <script src="{% static "js/jquery.formset.js" %}"></script>
        <script src="{% static "chart.js/dist/chart.min.js" %}"></script>
        <script src="{% static "chartjs-plugin-annotation/dist/chartjs-plugin-annotation.min.js" %}"></script>
        <script src="{% static "js/main.js" %}"></script>
        {% block scripts %}
        {% endblock %}
    </body>
</html>
