{% load i18n %}
{% load humanize %}

{% if not account.no_pendings %}
<div class="row">
    <div class="col-sm">
        <h2><span class="badge badge-info">{{ pending_operations|length }}</span> {% trans "Pending operations" %}</h2>
    </div>
</div>

<div class="row">
    <div class="col-sm">
        {% include "operations/_pending_list.html" %}
    </div>
</div>
{% endif %}


<div class="row">
    <div class="col-sm">
        <div class="row justify-content-between align-items-center">
            <div class="col-auto mr-auto">
                <h2>{% trans "Acted operations" %}</h2>
            </div>
            <div class="col-auto">
                {% if nb_not_read > 0 %}
                    <form id="mark_all_read_form" action="{% url "operations_mark_all_read" account.id %}" method="post" class="form-inline">
                        {% csrf_token %}
                    </form>
                {% endif %}
                <form method="get" class="form-inline">
                    <div class="input-group">
                        <input name="date" required type="text" class="datepicker form-control form-control-sm mb-2" placeholder="{% trans 'Pick a date...' %}">
                        <div class="input-group-append">
                            <button type="submit" class="btn btn-primary btn-sm mb-2 mr-sm-2">{% trans "Go to date" %}</button>
                        </div>
                    </div>
                    {% if nb_not_read > 0 %}
                        <button form="mark_all_read_form" type="submit" class="btn btn-primary btn-sm mb-2 mr-sm-2">
                            <i class="fas fa-check-square"></i> {% trans "Mark all as read" %}
                        </button>
                    {% endif %}
                    {% if hidden_operations|length > 0 %}
                        <button id="show-all-operations" type="button" class="btn btn-secondary btn-sm mb-2">
                            <i class="fas fa-eye-slash"></i> {% trans "Show all operations" %}
                        </button>
                    {% endif %}
                </form>
            </div>
        </div>

        {% include "operations/_list.html" with operations=object_list hashtag="tab_tables" %}
    </div>
</div>

{% include "operations/_modal_select_dest_account.html" %}
