{% extends "base.html" %}

{% load i18n %}
{% load crispy_forms_tags %}

{% block breadcumb %}
{{ block.super }}

<li class="breadcrumb-item"><a href="{% url 'accounts_index' %}">{% trans "Accounts" %}</a></li>
<li class="breadcrumb-item active">{% trans "Add an account" %}</li>
{% endblock %}

{% block content %}

<div class="row">
    <div class="col-sm">
        <h1>{% trans "Add an account" %}</h1>
    </div>
</div>

{% crispy form %}

{% endblock %}

{% block scripts %}
{{ block.super }}
<script>
$(function () {
    $('#id_no_pendings').on('change', function(e) {
        $('#div_id_csvOperations').toggle(!$(this).is(":checked"));
    });
});
</script>
{% endblock %}
