{% extends "base.html" %}

{% load i18n %}
{% load display_amount %}
{% load account_occupancy %}

{% block breadcumb %}
{{ block.super }}

<li class="breadcrumb-item"><a href="{% url 'accounts_index' %}">{% trans "Accounts" %}</a></li>
<li class="breadcrumb-item active">{{ account.title }}</li>
{% endblock %}

{% block content %}


<div class="row justify-content-between align-items-center">
    <div class="col-auto mr-auto">
        <h1>{{ account.title }}</h1>
    </div>
    <div class="col-auto">
        {% if not account.no_pendings %}
            {% if account.operationtemplate_set.count == 0 %}
                <a class="btn btn-primary btn-sm" href="{% url "operations_add" account.id %}"><i class="fas fa-plus-square"></i> {% trans "Add an operation" %}</a>
            {% else %}
                <div class="btn-group">
                    <a class="btn btn-primary btn-sm" href="{% url "operations_add" account.id %}"><i class="fas fa-plus-square"></i> {% trans "Add an operation" %}</a>
                    <button type="button" class="btn btn-primary btn-sm dropdown-toggle dropdown-toggle-split" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false"></button>
                    <div class="dropdown-menu">
                        {% for ot in account.operationtemplate_set.all %}
                            <a class="dropdown-item" href="{% url "operations_add" account.id %}?template={{ ot.pk }}">{{ ot.title }}</a>
                        {% endfor %}
                    </div>
                </div>
            {% endif %}
        {% endif %}
        <a class="btn btn-primary btn-sm" href="{% url "operations_search" %}?account={{ account.id }}"><i class="fas fa-search"></i> {% trans "Search in this account" %}</a>
        <a class="btn btn-primary btn-sm" href="{% url "accounts_to_csv" account.id %}"><i class="fa fa-file-csv"></i> {% trans "Export to CSV" %}</a>
        <a class="btn btn-warning btn-sm" href="{% url "accounts_edit" account.id %}" title="{% trans 'Edit' %}">
            <i class="fa fa-pen"></i>
        </a>
    </div>
</div>

<hr>

<ul class="nav nav-tabs" id="details-tab" role="tablist">
    <li class="nav-item">
        <a class="nav-link active" id="home-tab" href="#home" data-toggle="tab" role="tab" aria-controls="home" aria-selected="true">
            <i class="fa fa-certificate"></i> {% trans 'Overview' %}
        </a>
    <li>
    <li class="nav-item">
        <a class="nav-link" id="tables-tab" href="#tables" data-toggle="tab" role="tab" aria-controls="tables" aria-selected="false">
            <i class="fa fa-table"></i> {% trans 'Tables' %}
        </a>
    <li>
    <li class="nav-item">
        <a class="nav-link" id="graphs-tab" href="{% url 'accounts_graph' account.id %}">
            <i class="fa fa-chart-line"></i> {% trans 'Graphs' %}
        </a>
    <li>
    <li class="nav-item">
        <a class="nav-link" id="stats-tab" href="{% url 'accounts_stats' account.id %}">
            <i class="fas fa-percentage"></i> {% trans 'Statistics' %}
        </a>
    <li>
</ul>

<div class="tab-content" id="details-tabContent">
    <div class="tab-pane show active" id="home" role="tabpanel" aria-labelledby="home-tab">
        <br>
        <div class="row justify-content-md-center tab-pane show active">
            <div class="col-3">
                <div class="card">
                    <div class="card-body">
                        <dl class="row">
                            {% if not account.no_pendings %}
                            <dt class="col-sm-6">
                                Local balance
                                <i class="fa fa-info-circle" data-toggle="tooltip" data-placement="top" title="Including pending operations"></i>:
                            </dt>
                            <dd class="col-sm-6 text-right">{% display_amount local_balance_with_pending %}</dd>

                            <dt class="col-sm-8">Pending operation amount:</dt>
                            <dd class="col-sm-4 text-right">{% display_amount pending_balance %}</dd>
                            {% endif %}

                            <dt class="col-sm-6">Local bank balance:</dt>
                            <dd class="col-sm-6 text-right">
                                {% if local_balance_without_pending is not None %}
                                    {% display_amount local_balance_without_pending %}
                                {% else %}
                                    -
                                {% endif %}
                            </dd>

                            {% if account.support_amount %}
                            <dt class="col-sm-8">Initial support amount:</dt>
                            <dd class="col-sm-4 text-right">{% display_amount account.support_amount %}</dd>

                            <dt class="col-sm-8">Already taken from the support amount:</dt>
                            <dd class="col-sm-4 text-right">{% display_amount total_from_support_amount %}</dd>

                            <dt class="col-sm-8">Current support amount:</dt>
                            <dd class="col-sm-4 text-right">{% display_amount current_support_amount %}</dd>
                            {% endif %}

                            <dt class="col-sm-6">Bank Balance:</dt>
                            <dd class="col-sm-6 text-right">
                                {% if account.balance is not None %}
                                    {% display_amount account.balance %}
                                    {% if not account.bank_local_balances_can_be_different and account.balance != local_balance_without_pending %}
                                    <i class="fa fa-exclamation-circle text-danger" data-toggle="tooltip" data-placement="top" data-html="true" title="Bank balance and local bank balance don't match: there is a difference of {% display_amount diff_bank_local_balance without_color=True %}"></i>
                                    {% endif %}
                                {% else %}
                                    -
                                {% endif %}
                            </dd>

                            <dt class="col-sm-6">Last update:</dt>
                            <dd class="col-sm-6 text-right">{% if account.balance_date is not None %}{{ account.balance_date|date:"d/m/Y" }}{% else %}-{% endif %}</dd>

                            {% if account.balance_limit is not None %}
                            <dt class="col-sm-6">{% trans "Balance limit" %}:</dt>
                            <dd class="col-sm-6 text-right">
                                {% display_amount account.balance_limit without_color=True %}
                                {% if account.balance_limit is not None %}
                                <br>
                                {% account_occupancy account %}
                                {% endif %}
                            </dd>
                            {% endif %}
                        </dl>
                    </div>
                </div>
            </div>
        </div>
        <div class="row">
            <div class="col-sm">
                <h2>{% trans "Details" %}</h2>

                <p>
                    <b>{% trans "Title" %}:</b> {{ account.title }}<br>
                    <b>{% trans "Number" %}:</b> {{ account.number }}
                    {% if account.initial_amount != 0 %}
                    <br>
                    <b>{% trans "Initial amount" %}:</b> {% display_amount account.initial_amount %}
                    {% endif %}
                </p>


                {% if account.comment|length != 0 %}
                <h2>{% trans "Notes" %}</h2>

                <p>
                    {{ account.comment|linebreaksbr }}
                </p>
                {% endif %}
            </div>
        </div>
    </div>

    <div class="tab-pane" id="tables" role="tabpanel" aria-labelledby="tables-tab">
        <br>
        {% include "accounts/_tables.html" %}
    </div>
</div>

{% endblock %}

{% block scripts %}
{{ block.super }}
<script>
$(function () {
    $("#show-all-operations").click(function() {
        $(".hidden-operation").each(function() {
            $(this).hide();
            $(this).next().show();
        });

        $(this).hide();
    });

    $(".hidden-operation").each(function() {
        $(this).next().hide();

        $(this).find('.show-operation-btn').first().click(function() {
            var row = $(this).parent().parent();
            row.hide();
            row.next().show();
        });
    });

    $("#show-pending-operations-btn").click(function() {
        $(this).parent().parent().hide();
        $(".hidden-pending-operation").removeClass('d-none');
    });
});
</script>
{% endblock %}
