{% extends "base.html" %}

{% load i18n %}
{% load crispy_forms_tags %}

{% block breadcumb %}
{{ block.super }}

<li class="breadcrumb-item"><a href="{% url 'accounts_index' %}">{% trans "Accounts" %}</a></li>
<li class="breadcrumb-item"><a href="{% url 'accounts_view' account.id %}">{{ account.title }}</a></li>
<li class="breadcrumb-item active">{% trans "Edit" %}</li>
{% endblock %}

{% block content %}

<div class="row">
    <div class="col-sm">
        <h1>{% trans "Edit an account" %}</h1>
    </div>
</div>


{% crispy form %}

{% endblock %}
