{% extends "base.html" %}

{% load static %}
{% load i18n %}
{% load display_amount %}

{% block breadcumb %}
{{ block.super }}

<li class="breadcrumb-item"><a href="{% url 'accounts_index' %}">{% trans "Accounts" %}</a></li>
<li class="breadcrumb-item active">{{ account.title }}</li>
{% endblock %}

{% block content %}

<div class="row">
    <div class="col">
        <h1>{{ account.title }}</h1>
    </div>
</div>

<hr>

<ul class="nav nav-tabs" id="details-tab" role="tablist">
    <li class="nav-item">
        <a class="nav-link" id="home-tab" href="{% url 'accounts_view' account.id %}">
            <i class="fa fa-certificate"></i> {% trans 'Overview' %}
        </a>
    <li>
    <li class="nav-item">
        <a class="nav-link" id="tables-tab" href="{% url 'accounts_view' account.id %}#tables">
            <i class="fa fa-table"></i> {% trans 'Tables' %}
        </a>
    <li>
    <li class="nav-item">
        <a class="nav-link active" id="graphs-tab" href="{% url 'accounts_graph' account.id %}">
            <i class="fa fa-chart-line"></i> {% trans 'Graphs' %}
        </a>
    <li>
    <li class="nav-item">
        <a class="nav-link" id="stats-tab" href="{% url 'accounts_stats' account.id %}">
            <i class="fas fa-percentage"></i> {% trans 'Statistics' %}
        </a>
    <li>
</ul>

<div class="tab-content" id="details-tabContent">
    <div class="tab-pane show active" id="graphs" role="tabpanel" aria-labelledby="graphs-tab">
        <br>

        {% include "mixins/_select_month.html" %}

        <br>

        {% include "graphs/_balance_evolution.html" with graph_balance_evolution=graph_monthly_balance %}

        <br>

        <div class="row">
            <div class="col-sm-12">
                <h2>{% trans "Expenses by categories" %}</h2>

                {% if graph_expense_categories|length == 0 %}
                    <div class="alert alert-secondary" role="alert">
                        <i class="fa fa-info-circle"></i> {% trans "No expense yet." %}
                    </div>
                {% else %}
            </div>

            <div class="col-sm-6">
                <canvas
                    class="graph_pie"
                    data-labels="{% for e in graph_expense_categories %}{{ e.title }}{% if not forloop.last %};{% endif %}{% endfor %}"
                    data-y="[{% for e in graph_expense_categories %}{{ e.balance }}{% if not forloop.last %}, {% endif %}{% endfor %}]"
                    data-table-target="expenses-category"
                ></canvas>
            </div>

            <div class="col-sm-6">
                <table class="table table-bordered table-sm table-hover table-striped">
                    <thead>
                        <tr>
                            <th scope="col">{% trans "Categories" %}</th>
                            <th scope="col">{% trans "Amount" %}</th>
                        </tr>
                    </thead>
                    <tbody>
                        {% for r in graph_expense_categories  %}
                        <tr>
                            <td data-graph-color="expenses-category-{{ r.title }}">
                                {% include "categories/_list_badges.html" with categories=r.categories %}
                            </td>
                            <td class="text-right">
                                {% display_amount r.balance %}
                            </td>
                        </tr>
                        {% endfor %}
                    </tbody>
                    <tfoot>
                        <tr>
                            <th class="text-right">Σ</th>
                            <th class="text-right">
                                {% display_amount expense_categories_total %}
                            </th>
                        </tr>
                    </tfoot>
                </table>
                {% endif %}
            </div>
        </div>

        <div class="row">
            <div class="col-sm-12">
                <h2>{% trans "Incomes by categories" %}</h2>

                {% if graph_income_categories|length == 0 %}
                    <div class="alert alert-secondary" role="alert">
                        <i class="fa fa-info-circle"></i> {% trans "No income yet." %}
                    </div>
                {% else %}
            </div>

            <div class="col-sm-6">
                <canvas
                    class="graph_pie"
                    data-labels="{% for e in graph_income_categories %}{{ e.title }}{% if not forloop.last %};{% endif %}{% endfor %}"
                    data-y="[{% for e in graph_income_categories %}{{ e.balance }}{% if not forloop.last %}, {% endif %}{% endfor %}]"
                    data-table-target="incomes-category"
                ></canvas>
            </div>

            <div class="col-sm-6">
                <table class="table table-bordered table-sm table-hover table-striped">
                    <thead>
                        <tr>
                            <th scope="col">{% trans "Categories" %}</th>
                            <th scope="col">{% trans "Amount" %}</th>
                        </tr>
                    </thead>
                    <tbody>
                        {% for r in graph_income_categories  %}
                        <tr>
                            <td data-graph-color="incomes-category-{{ r.title }}">
                                {% include "categories/_list_badges.html" with categories=r.categories %}
                            </td>
                            <td class="text-right">
                                {% display_amount r.balance %}
                            </td>
                        </tr>
                        {% endfor %}
                    </tbody>
                    <tfoot>
                        <tr>
                            <th class="text-right">Σ</th>
                            <th class="text-right">
                                {% display_amount income_categories_total %}
                            </th>
                        </tr>
                    </tfoot>
                </table>
                {% endif %}
            </div>
        </div>

        <br>

        <div class="row">
            <div class="col-sm-12">
                <h2>{% trans "Repartition among categories" %}</h2>
            </div>
            <div class="col-sm-6">
                <table class="table table-bordered table-sm table-hover table-striped">
                    <thead>
                        <tr>
                            <th scope="col">{% trans "Categories" %}</th>
                            <th scope="col">{% trans "Amount" %}</th>
                        </tr>
                    </thead>
                    <tbody>
                        {% for r in categories_repartition %}
                        <tr>
                            <td data-graph-color="repartition-category-{{ r.title }}">
                                {% include "categories/_list_badges.html" with categories=r.categories %}
                            </td>
                            <td class="text-right">
                                {% display_amount r.balance %}
                            </td>
                        </tr>
                        {% endfor %}
                    </tbody>
                </table>
            </div>
            <div class="col-sm-6">
                {% if graph_categories_repartition|length > 0 %}
                <canvas
                    class="graph_pie"
                    data-labels="{% for e in graph_categories_repartition %}{{ e.title }}{% if not forloop.last %};{% endif %}{% endfor %}"
                    data-y="[{% for e in graph_categories_repartition %}{{ e.balance }}{% if not forloop.last %}, {% endif %}{% endfor %}]"
                    data-table-target="repartition-category"
                ></canvas>
                {% else %}
                <div class="alert alert-secondary" role="alert">
                    <i class="fa fa-info-circle"></i> {% trans "No graph to display." %}
                </div>
                {% endif %}
            </div>
        </div>
    </div>
</div>
{% endblock %}

{% block scripts %}
{{ block.super }}
<script src="{% static "js/graph_balance_evolution.js" %}"></script>
<script>
$(function () {
    $(".graph_pie").each(function(index) {

        var graph = $(this);
        var labels = graph.data("labels").split(";");
        var values = graph.data("y");
        var table_target = graph.data("table-target");

        addChartColorBadgesInTables(labels, colors_tableau20, table_target);

        var chart = new Chart(graph.get(0).getContext('2d'), {
            type: 'doughnut',
            data: {
                labels: labels,
                datasets: [{
                    data: values,
                    backgroundColor: colors_tableau20
                }]
            },
            options: {
                aspectRatio: 2,
                plugins: {
                    tooltip: chart_tooltip_label
                }
            }
        });
    });
});
</script>
{% endblock %}
