{% extends "base.html" %}

{% load i18n %}
{% load display_amount %}
{% load account_occupancy %}

{% block breadcumb %}
{{ block.super }}
<li class="breadcrumb-item active">{% trans "Accounts" %}</li>
{% endblock %}

{% block content %}
<div class="row">
    <div class="col-sm">
        <h1>{% trans "Accounts" %}</h1>
    </div>
</div>

<div class="row">
    <div class="col-sm">
        <a class="btn btn-primary" href="{% url 'accounts_add' %}"><i class="fas fa-plus-square"></i> {% trans "Add an account" %}</a>
    </div>
</div>

<br>

<div class="row">
    <div class="col-sm">
        <table class="table table-striped table-bordered">
            <thead>
                <tr>
                    <th scope="col">{% trans "Name" %}</th>
                    <th scope="col">{% trans "Number" %}</th>
                    <th scope="col">{% trans "Balance" %}</th>
                    <th scope="col">{% trans "Actions" %}</th>
                </tr>
            </thead>
            <tbody>
                {% for account in accounts %}
                <tr>
                    <td>
                        {% if account.nb_pendings > 0 or account.nb_not_read > 0 %}
                            <div class="float-right">
                                {% if account.nb_pendings > 0 %}
                                    <span class="badge badge-info" data-toggle="tooltip" data-placement="top" title="{% trans "Number of pending operations" %}">
                                        {{ account.nb_pendings }}
                                    </span>
                                {% endif %}
                                {% if account.nb_not_read > 0 %}
                                    <span class="badge badge-warning" data-toggle="tooltip" data-placement="top" title="{% trans "Number of not read bank operations" %}">
                                        {{ account.nb_not_read }}
                                    </span>
                                {% endif %}
                            </div>
                        {% endif %}
                        <a href="{% url 'accounts_view' account.id %}">{{ account.title }}</a>
                    </td>
                    <td>{{ account.number }}</td>
                    <td class="text-right">
                        {% if account.balance is not None %}
                            <b>{% display_amount account.balance %}</b>
                            {% if account.balance_limit is not None %}
                            <br>
                            {% account_occupancy account %}
                            {% endif %}
                        {% else %}
                            -
                        {% endif %}
                    </td>
                    <td>
                        <form data-modal="confirm" data-text="{% trans 'Delete ?' %}" id="delete-form-{{ account.id }}" action="{% url 'accounts_delete' account.id %}" method="post">
                            {% csrf_token %}
                        </form>
                        <div class="btn-group" role="group">
                            <a class="btn btn-primary btn-sm btn-warning" href="{% url 'accounts_edit' account.id %}" role="button" title="{% trans 'Edit' %}">
                                <i class="fas fa-pen"></i>
                            </a>
                            <button type="submit" form="delete-form-{{ account.id }}" class="btn btn-primary btn-sm btn-danger" title="{% trans 'Delete' %}">
                                <i class="fas fa-trash"></i>
                            </button>
                        </div>
                    </td>
                </tr>
                {% endfor %}
            </tbody>
            {% if accounts|length > 1 %}
                <tfoot>
                    <tr>
                        <th colspan="2" class="text-right">Σ</th>
                        <th class="text-right">
                            {% display_amount sum_accounts %}
                        </th>
                        <th></th>
                    </tr>
                </tfoot>
            {% endif %}
        </table>
    </div>
</div>

{% endblock %}
