{% extends "base.html" %}

{% load i18n %}

{% block breadcumb %}
{{ block.super }}

<li class="breadcrumb-item"><a href="{% url 'accounts_index' %}">{% trans "Accounts" %}</a></li>
<li class="breadcrumb-item active">{{ account.title }}</li>
{% endblock %}

{% block content %}
<div class="row">
    <div class="col">
        <h1>{{ account.title }}</h1>
    </div>
</div>

<hr>

<ul class="nav nav-tabs" id="details-tab" role="tablist">
    <li class="nav-item">
        <a class="nav-link" id="home-tab" href="{% url 'accounts_view' account.id %}">
            <i class="fa fa-certificate"></i> {% trans 'Overview' %}
        </a>
    <li>
    <li class="nav-item">
        <a class="nav-link" id="tables-tab" href="{% url 'accounts_view' account.id %}#tables">
            <i class="fa fa-table"></i> {% trans 'Tables' %}
        </a>
    <li>
    <li class="nav-item">
        <a class="nav-link" id="graphs-tab" href="{% url 'accounts_graph' account.id %}">
            <i class="fa fa-chart-line"></i> {% trans 'Graphs' %}
        </a>
    <li>
    <li class="nav-item">
        <a class="nav-link active" id="stats-tab" href="{% url 'accounts_stats' account.id %}">
            <i class="fas fa-percentage"></i> {% trans 'Statistics' %}
        </a>
    <li>
</ul>

<div class="tab-content" id="details-tabContent">
    <div class="tab-pane show active" id="stats" role="tabpanel" aria-labelledby="stats-tab">
        <br>

        {% include "mixins/_select_month.html" %}

        <div class="row">
            <div class="col">
                <h2>{% trans "Categories repartition evolution" %}</h2>

                <ul class="nav nav-tabs nav-fill" id="category-repartition-evolution-tabs" role="tablist">
                    <li class="nav-item" role="presentation">
                        <a class="nav-link active" id="month-tab" data-toggle="tab" href="#month" role="tab" aria-controls="month" aria-selected="true">{% trans "By month" %}</a>
                    </li>
                    <li class="nav-item" role="presentation">
                        <a class="nav-link" id="year-tab" data-toggle="tab" href="#year" role="tab" aria-controls="year" aria-selected="false">{% trans "By year" %}</a>
                    </li>
                </ul>
                <br>
                <div class="tab-content">
                    <div class="tab-pane fade show active" id="month" role="tabpanel" aria-labelledby="month-tab">
                        {% include "stats/_categories_evolution_table.html" with repartition=month_repartition with_date_links=True %}
                    </div>

                    <div class="tab-pane fade" id="year" role="tabpanel" aria-labelledby="year-tab">
                        {% include "stats/_categories_evolution_table.html" with repartition=year_repartition %}
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
{% endblock %}
