{% load i18n %}

<div class="row justify-content-center">
    <div class="col-md-5 col-lg-4 col-xl-3">
        <form method="get">
            <div class="input-group">
                <div class="input-group-prepend">
                    <a href="?date={{ previous_month|date:"F Y" }}" class="btn btn-info mb-2" title="{% trans 'Previous month' %}">
                        <i class="fa fa-angle-left"></i>
                    </a>
                </div>
                <input name="date" required type="text" class="monthpicker form-control" value="{{ asked_date|date:"F Y" }}">
                <div class="input-group-append">
                    <button type="submit" class="btn btn-primary mb-2">{% trans "Go" %}</button>
                    {% if display_next_month_button %}
                    <a href="?date={{ next_month|date:"F Y" }}" class="btn btn-info mb-2" title="{% trans 'Next month' %}">
                        <i class="fa fa-angle-right"></i>
                    </a>
                    {% endif %}
                </div>
            </div>
        </form>
    </div>
</div>
